<a href="https://colab.research.google.com/github/abrahamjenie/Programming-for-Data-Analysis-CA1-Web-Scraping/blob/main/SalaryData_WebScraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [85]:
#Importing Packages
import requests
from bs4 import BeautifulSoup
import json
import pandas as pd
import time

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 1000)

In [86]:
url="https://www.salary.com/research/ie-salary/alternate/data-scientist-analytics-intermediate-salary/ie/dublin"
r = requests.get(url)
print(r) #status code is 200

<Response [200]>

In [87]:
r.content
1

1

In [88]:
soup=BeautifulSoup(r.content,'html.parser')
script=soup.find_all('script')[5].text
script

'\r\n    {\r\n    "@context": "http://schema.org",\r\n    "@type": "Occupation",\r\n    "name": "Data Scientist/Analytics , Intermediate",\r\n    "mainEntityOfPage": {\r\n    "@type": "WebPage",\r\n    "lastReviewed": "2021-03-19T00:00:00Z"\r\n    },\r\n    "description": "A Data Scientist is a professional who extensively works with Big Data in order to derive valuable business insights from it.\r\nHowever, data scientists and predictive analytics professionals (PAPs) are more likely to hold an advanced degree.\r\nDay-to-day activities of a Data Scientist sometimes can be predictable, and sometimes they are something out of the ordinary.\r\n",\r\n    "estimatedSalary": [{\r\n    "@type": "MonetaryAmountDistribution",\r\n    "name": "base",\r\n    "currency": "EUR",\r\n    "duration": "P1Y",\r\n    "percentile25": "31559",\r\n    "median": "39009",\r\n    "percentile75": "46472"\r\n    }]\r\n        \r\n            ,\r\n            "occupationLocation": [{\r\n            "@type": "City",\r\n            "name": "Dublin, Ireland"\r\n            }]\r\n        \r\n    }\r\n'

In [89]:
json_data=json.loads(script,strict=False) #strict=False is used because there are control characters like '\r','\n'
json_data

{'@context': 'http://schema.org',
 '@type': 'Occupation',
 'name': 'Data Scientist/Analytics , Intermediate',
 'mainEntityOfPage': {'@type': 'WebPage',
  'lastReviewed': '2021-03-19T00:00:00Z'},
 'description': 'A Data Scientist is a professional who extensively works with Big Data in order to derive valuable business insights from it.\r\nHowever, data scientists and predictive analytics professionals (PAPs) are more likely to hold an advanced degree.\r\nDay-to-day activities of a Data Scientist sometimes can be predictable, and sometimes they are something out of the ordinary.\r\n',
 'estimatedSalary': [{'@type': 'MonetaryAmountDistribution',
   'name': 'base',
   'currency': 'EUR',
   'duration': 'P1Y',
   'percentile25': '31559',
   'median': '39009',
   'percentile75': '46472'}],
 'occupationLocation': [{'@type': 'City', 'name': 'Dublin, Ireland'}]}

In [90]:
meta_url=soup.find('meta',property="og:url")
meta_url

In [91]:
job_designation=json_data['name']
job_desc=json_data['description']
percentile25_salary=json_data['estimatedSalary'][0]['percentile25']
median_salary=json_data['estimatedSalary'][0]['median']
percentile75_salary=json_data['estimatedSalary'][0]['percentile75']
salary_type=json_data['estimatedSalary'][0]['name']
currency=json_data['estimatedSalary'][0]['currency']
salary_duration=json_data['estimatedSalary'][0]['duration']
location=json_data['occupationLocation'][0]['name']
last_reviewed_datetime=json_data['mainEntityOfPage']['lastReviewed']
weblink=meta_url['content']

print(job_designation,percentile25_salary,median_salary,percentile75_salary,salary_type,currency,salary_duration,location,last_reviewed_date,meta_url,weblink)

Data Scientist/Analytics , Intermediate 31559 39009 46472 base EUR P1Y Dublin, Ireland 2021-03-19T00:00:00Z <meta content="https://www.salary.com/research/ie-salary/alternate/data-scientist-analytics-intermediate-salary/ie/dublin" property="og:url"/> https://www.salary.com/research/ie-salary/alternate/data-scientist-analytics-intermediate-salary/ie/dublin

In [92]:
cities=['dublin','cork','galway','limerick','shannon-west','waterford']
job_roles=['data-architect-ii','personal-assistant-to-ceo','operational-risk-analyst-ii','entry-hr-generalist','senior-risk-analyst','asset-and-liability-risk-analyst','junior-accountant','financial-accountant-i','it-user-support-manager','data-scientist-analytics-senior-specialist','life-sciences-research-scientist-iii','hr-assistant-ii','data-scientist-analytics-intermediate','entry-financial-analyst','entry-accountant','graphic-designer-ii','instructional-designer','healthcare-services-planning-director','warehouse-operations-supervisor','database-warehouse-programmer','warehouse-helper']
data={}
salary_df=pd.DataFrame(data)
for role in job_roles:
  for city in cities:
    alternate = 'https://www.salary.com/research/ie-salary/alternate/{}-salary/ie/{}'
    benchmark = 'https://www.salary.com/research/ie-salary/benchmark/{}-salary/ie/{}'

    url_alt = alternate.format(role, city)
    url_bench= benchmark.format(role, city)
    r_alt = requests.get(url_alt)
    r_bench=requests.get(url_bench)

    if r_alt.status_code==200 and r_bench.status_code!=200:
      r=requests.get(url_alt)
    elif r_bench.status_code==200 and r_alt.status_code!=200:
      r=requests.get(url_bench)
    else:
      print("HTTP request failed for {} and {}".format(url_alt,url_bench))
      continue

        
    soup=BeautifulSoup(r.content,'html.parser')
    script=soup.find_all('script')[5].text
    
    json_data=json.loads(script,strict=False)
    
    meta_url=soup.find('meta',property="og:url")
    
    new_row={'job_designation':json_data['name'],'percentile25_salary':json_data['estimatedSalary'][0]['percentile25'],
             'median_salary':json_data['estimatedSalary'][0]['median'],'percentile75_salary':json_data['estimatedSalary'][0]['percentile75'],
             'salary_type':json_data['estimatedSalary'][0]['name'],'currency':json_data['estimatedSalary'][0]['currency'],
             'salary_duration':json_data['estimatedSalary'][0]['duration'],'location':json_data['occupationLocation'][0]['name'],
             'last_reviewed_datetime':json_data['mainEntityOfPage']['lastReviewed'],'weblink':meta_url['content'],'job_desc':json_data['description']}
    salary_df = salary_df.append(new_row, ignore_index=True)
print(salary_df)

                                 job_designation percentile25_salary median_salary percentile75_salary salary_type currency salary_duration               location last_reviewed_datetime                                            weblink                                           job_desc
0                              Data Architect II               42167         50115               58800        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/benc...  Contribute to an architecture roadmap covering...
1                              Data Architect II               39972         47506               55739        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/benc...  Contribute to an architecture roadmap covering...
2                              Data Architect II               39035         46393               54433        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/benc...  Contribute to an architecture roadmap covering...
3                              Data Architect II               39420         46850               54969        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/benc...  Contribute to an architecture roadmap covering...
4                              Data Architect II               38646         45930               53890        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/benc...  Contribute to an architecture roadmap covering...
5                              Data Architect II               37924         45072               52883        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/benc...  Contribute to an architecture roadmap covering...
6                      Personal Assistant to CEO               49989         59510               75899        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  They may travel for the job, too, especially i...
7                      Personal Assistant to CEO               47386         56412               71948        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  They may travel for the job, too, especially i...
8                      Personal Assistant to CEO               46276         55090               70262        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  They may travel for the job, too, especially i...
9                      Personal Assistant to CEO               46732         55633               70955        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  They may travel for the job, too, especially i...
10                     Personal Assistant to CEO               45815         54541               69562        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  They may travel for the job, too, especially i...
11                     Personal Assistant to CEO               44959         53522               68263        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  They may travel for the job, too, especially i...
12                   Operational Risk Analyst II               35576         49057               61920        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Identify, review, analyze and manage operation...
13                   Operational Risk Analyst II               33724         46503               58696        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Identify, review, analyze and manage operation...
14                   Operational Risk Analyst II               32934         45413               57321        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Identify, review, analyze and manage operation...
15                   Operational Risk Analyst II               33259         45861               57886        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Identify, review, analyze and manage operation...
16                   Operational Risk Analyst II               32606         44961               56750        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Identify, review, analyze and manage operation...
17                   Operational Risk Analyst II               31997         44121               55689        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Identify, review, analyze and manage operation...
18                           Entry HR Generalist               36024         42114               51434        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The job of an HR generalist requires them to p...
19                           Entry HR Generalist               34149         39922               48756        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The job of an HR generalist requires them to p...
20                           Entry HR Generalist               33349         38986               47614        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The job of an HR generalist requires them to p...
21                           Entry HR Generalist               33677         39370               48083        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The job of an HR generalist requires them to p...
22                           Entry HR Generalist               33016         38597               47139        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The job of an HR generalist requires them to p...
23                           Entry HR Generalist               32400         37876               46258        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The job of an HR generalist requires them to p...
24                           Senior Risk Analyst               48615         67082               90253        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Risk analysts may work in sales, origination, ...
25                           Senior Risk Analyst               46084         63590               85555        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Risk analysts may work in sales, origination, ...
26                           Senior Risk Analyst               45004         62100               83550        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Risk analysts may work in sales, origination, ...
27                           Senior Risk Analyst               45448         62713               84373        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Risk analysts may work in sales, origination, ...
28                           Senior Risk Analyst               44556         61481               82717        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Risk analysts may work in sales, origination, ...
29                           Senior Risk Analyst               43723         60333               81172        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Risk analysts may work in sales, origination, ...
30              Asset and Liability Risk Analyst               37714         54832               66890        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  In many cases, the board delegates routine ove...
31              Asset and Liability Risk Analyst               35751         51978               63408        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  In many cases, the board delegates routine ove...
32              Asset and Liability Risk Analyst               34913         50760               61922        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  In many cases, the board delegates routine ove...
33              Asset and Liability Risk Analyst               35257         51260               62533        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  In many cases, the board delegates routine ove...
34              Asset and Liability Risk Analyst               34565         50254               61305        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  In many cases, the board delegates routine ove...
35              Asset and Liability Risk Analyst               33919         49315               60160        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  In many cases, the board delegates routine ove...
36                             Junior Accountant               30618         36162               42089        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Assisting with monthly closings and account an...
37                             Junior Accountant               29025         34280               39898        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Assisting with monthly closings and account an...
38                             Junior Accountant               28344         33476               38963        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Assisting with monthly closings and account an...
39                             Junior Accountant               28624         33806               39347        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Assisting with monthly closings and account an...
40                             Junior Accountant               28062         33143               38575        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Assisting with monthly closings and account an...
41                             Junior Accountant               27538         32524               37854        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Assisting with monthly closings and account an...
42                        Financial Accountant I               30658         36209               42144        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The International Accounting Standards Board (...
43                        Financial Accountant I               29062         34324               39950        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The International Accounting Standards Board (...
44                        Financial Accountant I               28381         33520               39014        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The International Accounting Standards Board (...
45                        Financial Accountant I               28661         33850               39398        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The International Accounting Standards Board (...
46                        Financial Accountant I               28098         33186               38625        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The International Accounting Standards Board (...
47                        Financial Accountant I               27574         32566               37903        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The International Accounting Standards Board (...
48                     IT User Support - Manager               49156         69089               83715        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  As technology plays a key role in the overall ...
49                     IT User Support - Manager               46598         65492               79357        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  As technology plays a key role in the overall ...
50                     IT User Support - Manager               45506         63957               77497        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  As technology plays a key role in the overall ...
51                     IT User Support - Manager               45954         64588               78261        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  As technology plays a key role in the overall ...
52                     IT User Support - Manager               45052         63320               76725        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  As technology plays a key role in the overall ...
53                     IT User Support - Manager               44211         62137               75291        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  As technology plays a key role in the overall ...
54   Data Scientist/Analytics, Senior Specialist               69542         88499              110394        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  A data scientist’s approach to data analysis d...
55   Data Scientist/Analytics, Senior Specialist               65922         83892              104647        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  A data scientist’s approach to data analysis d...
56   Data Scientist/Analytics, Senior Specialist               64378         81926              102195        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  A data scientist’s approach to data analysis d...
57   Data Scientist/Analytics, Senior Specialist               65012         82734              103202        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  A data scientist’s approach to data analysis d...
58   Data Scientist/Analytics, Senior Specialist               63736         81110              101176        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  A data scientist’s approach to data analysis d...
59   Data Scientist/Analytics, Senior Specialist               62545         79594               99286        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  A data scientist’s approach to data analysis d...
60          Life Sciences Research Scientist III               57674         67971               77338        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  In order to thrive in this profession, you’ll ...
61          Life Sciences Research Scientist III               54672         64433               73312        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  In order to thrive in this profession, you’ll ...
62          Life Sciences Research Scientist III               53390         62923               71594        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  In order to thrive in this profession, you’ll ...
63          Life Sciences Research Scientist III               53917         63544               72300        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  In order to thrive in this profession, you’ll ...
64          Life Sciences Research Scientist III               52858         62296               70881        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  In order to thrive in this profession, you’ll ...
65          Life Sciences Research Scientist III               51871         61132               69556        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  In order to thrive in this profession, you’ll ...
66                               HR Assistant II               30453         38641               46570        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  HR assistants may also help with the recruitin...
67                               HR Assistant II               28868         36630               44146        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  HR assistants may also help with the recruitin...

In [93]:
#Checking for missing values in the dataset
salary_df.isna().sum()

job_designation           0
percentile25_salary       0
median_salary             0
percentile75_salary       0
salary_type               0
currency                  0
salary_duration           0
location                  0
last_reviewed_datetime    0
weblink                   0
job_desc                  0
dtype: int64

In [94]:
#Checking the datatype of each feature
salary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   job_designation         126 non-null    object
 1   percentile25_salary     126 non-null    object
 2   median_salary           126 non-null    object
 3   percentile75_salary     126 non-null    object
 4   salary_type             126 non-null    object
 5   currency                126 non-null    object
 6   salary_duration         126 non-null    object
 7   location                126 non-null    object
 8   last_reviewed_datetime  126 non-null    object
 9   weblink                 126 non-null    object
 10  job_desc                126 non-null    object
dtypes: object(11)
memory usage: 11.0+ KB

In [95]:
#Data Cleaning

#Coverting the datatype from object to integer for the features percentile25_salary, median_salary  and salary_type 
salary_df=salary_df.astype({'percentile25_salary':'int','median_salary':'int','percentile75_salary':'int'})

#Splitting the 'location' feature into two new features 'county' and 'country'
location=salary_df['location'].str.split(",",expand=True) #expand=True will give the output in a dataframe instead of the default list
salary_df['county']=location[0]
salary_df['country']=location[1]

#Extracting only the date part from 'last_reviewed_datetime' and stored in a new feature 'last_reviewed_date'
import datetime
salary_df['last_reviewed_date']=pd.to_datetime(salary_df['last_reviewed_datetime'].str.slice(0, 10))

salary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   job_designation         126 non-null    object
 1   percentile25_salary     126 non-null    int64
 2   median_salary           126 non-null    int64
 3   percentile75_salary     126 non-null    int64
 4   salary_type             126 non-null    object
 5   currency                126 non-null    object
 6   salary_duration         126 non-null    object
 7   location                126 non-null    object
 8   last_reviewed_datetime  126 non-null    object
 9   weblink                 126 non-null    object
 10  job_desc                126 non-null    object
 11  county                  126 non-null    object
 12  country                 126 non-null    object
 13  last_reviewed_date      126 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(10)
memory usage: 13.9+ KB

In [96]:
salary_df.describe()

       percentile25_salary  median_salary  percentile75_salary
count           126.000000     126.000000           126.000000
mean          39858.174603   49830.857143         61303.214286
std           13823.469212   18079.048392         22630.485614
min           21406.000000   27877.000000         36106.000000
25%           30484.000000   36273.750000         43665.250000
50%           37160.000000   45823.000000         56016.000000
75%           44992.750000   56217.250000         70726.250000
max           89038.000000  112863.000000        137388.000000

In [97]:
salary_df.groupby(['job_designation']).describe()

                                            percentile25_salary                                                                           median_salary                                                                                 percentile75_salary
                                                          count          mean          std      min       25%      50%       75%      max         count           mean          std       min        25%       50%        75%       max               count           mean          std       min        25%       50%        75%       max
job_designation
Asset and Liability Risk Analyst                            6.0  35353.166667  1312.466444  33919.0  34652.00  35085.0  35627.50  37714.0           6.0   51399.833333  1908.006752   49315.0   50380.50   51010.0   51798.50   54832.0                 6.0   62703.000000  2327.578484   60160.0   61459.25   62227.5   63189.25   66890.0
Data Architect II                                           6.0  39527.333333  1467.440447  37924.0  38743.25  39227.5  39834.00  42167.0           6.0   46977.666667  1744.092964   45072.0   46045.75   46621.5   47342.00   50115.0                 6.0   55119.000000  2046.333013   52883.0   54025.75   54701.0   55546.50   58800.0
Data Scientist/Analytics , Intermediate                     6.0  29583.333333  1098.323207  28383.0  28996.75  29359.0  29812.75  31559.0           6.0   36567.333333  1357.456985   35084.0   35842.00   36290.0   36851.25   39009.0                 6.0   43563.000000  1617.175563   41796.0   42699.00   43232.5   43901.00   46472.0
Data Scientist/Analytics, Senior Specialist                 6.0  65189.166667  2419.788951  62545.0  63896.50  64695.0  65694.50  69542.0           6.0   82959.166667  3079.669750   79594.0   81314.00   82330.0   83602.50   88499.0                 6.0  103483.333333  3841.660561   99286.0  101430.75  102698.5  104285.75  110394.0
Database/Warehouse Programmer                               6.0  39239.666667  1456.676995  37648.0  38461.50  38942.0  39544.00  41860.0           6.0   47465.166667  1762.099136   45540.0   46523.75   47105.0   47833.25   50635.0                 6.0   55667.000000  2066.381378   53409.0   54563.00   55245.0   56098.75   59384.0
Entry Accountant                                            6.0  28663.166667  1063.938234  27501.0  28094.50  28445.5  28885.75  30577.0           6.0   33853.000000  1256.899678   32480.0   33181.25   33596.0   34115.75   36114.0                 6.0   39401.500000  1462.914591   37803.0   38620.00   39102.5   39707.25   42033.0
Entry Financial Analyst                                     6.0  32835.166667  1219.130742  31503.0  32183.75  32586.0  33090.25  35028.0           6.0   37590.333333  1395.585707   36066.0   36844.50   37305.0   37881.75   40101.0                 6.0   45984.333333  1707.104176   44119.0   45072.25   45635.5   46341.25   49055.0
Entry HR Generalist                                         6.0  33769.166667  1253.431995  32400.0  33099.25  33513.0  34031.00  36024.0           6.0   39477.500000  1465.736914   37876.0   38694.25   39178.0   39784.00   42114.0                 6.0   48214.000000  1790.021564   46258.0   47257.75   47848.5   48587.75   51434.0
Financial Accountant I                                      6.0  28739.000000  1066.699958  27574.0  28168.75  28521.0  28961.75  30658.0           6.0   33942.500000  1259.894559   32566.0   33269.50   33685.0   34205.50   36209.0                 6.0   39505.666667  1466.674970   37903.0   38722.25   39206.0   39812.00   42144.0
Graphic Designer II                                         6.0  39539.333333  1467.440447  37936.0  38755.25  39239.5  39846.00  42179.0           6.0   45275.666667  1680.803578   43439.0   44377.50   44932.5   45627.00   48299.0                 6.0   58804.000000  2182.962208   56419.0   57637.75   58358.0   59259.75   62731.0
HR Assistant II                                             6.0  28546.666667  1059.757457  27389.0  27980.25  28330.0  28768.25  30453.0           6.0   36222.333333  1344.636704   34753.0   35504.00   35947.5   36503.50   38641.0                 6.0   43654.833333  1620.590808   41884.0   42789.25   43323.5   43993.50   46570.0
Healthcare Services Planning Director                       6.0  83464.500000  3098.374332  80079.0  81809.25  82831.5  84111.75  89038.0           6.0  105798.333333  3927.340763  101507.0  103700.25  104996.0  106618.75  112863.0                 6.0  128788.166667  4780.738161  123565.0  126233.75  127811.0  129787.25  137388.0
IT User Support - Manager                                   6.0  46079.500000  1710.286263  44211.0  45165.50  45730.0  46437.00  49156.0           6.0   64763.833333  2404.333539   62137.0   63479.25   64272.5   65266.00   69089.0                 6.0   78474.333333  2913.353989   75291.0   76918.00   77879.0   79083.00   83715.0
Instructional Designer                                      6.0  37892.833333  1406.567654  36356.0  37141.25  37605.5  38186.75  40423.0           6.0   45013.833333  1671.165392   43188.0   44120.75   44672.5   45363.00   48020.0                 6.0   54930.500000  2039.178536   52703.0   53841.00   54513.5   55356.25   58599.0
Junior Accountant                                           6.0  28701.833333  1065.282013  27538.0  28132.50  28484.0  28924.75  30618.0           6.0   33898.500000  1258.258121   32524.0   33226.25   33641.0   34161.50   36162.0                 6.0   39454.333333  1464.618130   37854.0   38672.00   39155.0   39760.25   42089.0
Life Sciences Research Scientist III                        6.0  54063.666667  2007.054226  51871.0  52991.00  53653.5  54483.25  57674.0           6.0   63716.500000  2365.206186   61132.0   62452.75   63233.5   64210.75   67971.0                 6.0   72496.833333  2691.269620   69556.0   71059.25   71947.0   73059.00   77338.0
Operational Risk Analyst II                                 6.0  33349.333333  1237.774724  31997.0  32688.00  33096.5  33607.75  35576.0           6.0   45986.000000  1707.110658   44121.0   45074.00   45637.0   46342.50   49057.0                 6.0   58043.666667  2154.837968   55689.0   56892.75   57603.5   58493.50   61920.0
Personal Assistant to CEO                                   6.0  46859.500000  1739.573597  44959.0  45930.25  46504.0  47222.50  49989.0           6.0   55784.666667  2070.921888   53522.0   54678.25   55361.5   56217.25   59510.0                 6.0   71148.166667  2640.941758   68263.0   69737.00   70608.5   71699.75   75899.0
Senior Risk Analyst                                         6.0  45571.666667  1691.806687  43723.0  44668.00  45226.0  45925.00  48615.0           6.0   62883.166667  2334.161213   60333.0   61635.75   62406.5   63370.75   67082.0                 6.0   84603.333333  3140.677294   81172.0   82925.25   83961.5   85259.50   90253.0
Warehouse Helper                                            6.0  22311.166667   828.253443  21406.0  21868.75  22142.0  22484.25  23801.0           6.0   29055.000000  1078.462053   27877.0   28478.50   28834.5   29280.50   30995.0                 6.0   37632.000000  1396.929490   36106.0   36885.50   37346.5   37923.75   40145.0
Warehouse Operations Supervisor                             6.0  37742.500000  1401.110238  36212.0  36993.75  37456.0  38035.25  40263.0           6.0   47817.666667  1775.144464   45878.0   46869.50   47455.0   48188.25   51011.0                 6.0   65696.500000  2438.920396   63032.0   64393.50   65198.0   66205.75   70084.0

In [98]:
#Final salary dataset after cleaning
salary_df

                                 job_designation  percentile25_salary  median_salary  percentile75_salary salary_type currency salary_duration               location last_reviewed_datetime                                            weblink                                           job_desc        county   country last_reviewed_date
0                              Data Architect II                42167          50115                58800        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/benc...  Contribute to an architecture roadmap covering...        Dublin   Ireland         2021-03-19
1                              Data Architect II                39972          47506                55739        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/benc...  Contribute to an architecture roadmap covering...          Cork   Ireland         2021-03-19
2                              Data Architect II                39035          46393                54433        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/benc...  Contribute to an architecture roadmap covering...        Galway   Ireland         2021-03-19
3                              Data Architect II                39420          46850                54969        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/benc...  Contribute to an architecture roadmap covering...      Limerick   Ireland         2021-03-19
4                              Data Architect II                38646          45930                53890        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/benc...  Contribute to an architecture roadmap covering...  Shannon-West   Ireland         2021-03-19
5                              Data Architect II                37924          45072                52883        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/benc...  Contribute to an architecture roadmap covering...     Waterford   Ireland         2021-03-19
6                      Personal Assistant to CEO                49989          59510                75899        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  They may travel for the job, too, especially i...        Dublin   Ireland         2021-03-19
7                      Personal Assistant to CEO                47386          56412                71948        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  They may travel for the job, too, especially i...          Cork   Ireland         2021-03-19
8                      Personal Assistant to CEO                46276          55090                70262        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  They may travel for the job, too, especially i...        Galway   Ireland         2021-03-19
9                      Personal Assistant to CEO                46732          55633                70955        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  They may travel for the job, too, especially i...      Limerick   Ireland         2021-03-19
10                     Personal Assistant to CEO                45815          54541                69562        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  They may travel for the job, too, especially i...  Shannon-West   Ireland         2021-03-19
11                     Personal Assistant to CEO                44959          53522                68263        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  They may travel for the job, too, especially i...     Waterford   Ireland         2021-03-19
12                   Operational Risk Analyst II                35576          49057                61920        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Identify, review, analyze and manage operation...        Dublin   Ireland         2021-03-19
13                   Operational Risk Analyst II                33724          46503                58696        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Identify, review, analyze and manage operation...          Cork   Ireland         2021-03-19
14                   Operational Risk Analyst II                32934          45413                57321        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Identify, review, analyze and manage operation...        Galway   Ireland         2021-03-19
15                   Operational Risk Analyst II                33259          45861                57886        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Identify, review, analyze and manage operation...      Limerick   Ireland         2021-03-19
16                   Operational Risk Analyst II                32606          44961                56750        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Identify, review, analyze and manage operation...  Shannon-West   Ireland         2021-03-19
17                   Operational Risk Analyst II                31997          44121                55689        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Identify, review, analyze and manage operation...     Waterford   Ireland         2021-03-19
18                           Entry HR Generalist                36024          42114                51434        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The job of an HR generalist requires them to p...        Dublin   Ireland         2021-03-19
19                           Entry HR Generalist                34149          39922                48756        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The job of an HR generalist requires them to p...          Cork   Ireland         2021-03-19
20                           Entry HR Generalist                33349          38986                47614        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The job of an HR generalist requires them to p...        Galway   Ireland         2021-03-19
21                           Entry HR Generalist                33677          39370                48083        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The job of an HR generalist requires them to p...      Limerick   Ireland         2021-03-19
22                           Entry HR Generalist                33016          38597                47139        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The job of an HR generalist requires them to p...  Shannon-West   Ireland         2021-03-19
23                           Entry HR Generalist                32400          37876                46258        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The job of an HR generalist requires them to p...     Waterford   Ireland         2021-03-19
24                           Senior Risk Analyst                48615          67082                90253        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Risk analysts may work in sales, origination, ...        Dublin   Ireland         2021-03-19
25                           Senior Risk Analyst                46084          63590                85555        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Risk analysts may work in sales, origination, ...          Cork   Ireland         2021-03-19
26                           Senior Risk Analyst                45004          62100                83550        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Risk analysts may work in sales, origination, ...        Galway   Ireland         2021-03-19
27                           Senior Risk Analyst                45448          62713                84373        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Risk analysts may work in sales, origination, ...      Limerick   Ireland         2021-03-19
28                           Senior Risk Analyst                44556          61481                82717        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Risk analysts may work in sales, origination, ...  Shannon-West   Ireland         2021-03-19
29                           Senior Risk Analyst                43723          60333                81172        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Risk analysts may work in sales, origination, ...     Waterford   Ireland         2021-03-19
30              Asset and Liability Risk Analyst                37714          54832                66890        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  In many cases, the board delegates routine ove...        Dublin   Ireland         2021-03-19
31              Asset and Liability Risk Analyst                35751          51978                63408        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  In many cases, the board delegates routine ove...          Cork   Ireland         2021-03-19
32              Asset and Liability Risk Analyst                34913          50760                61922        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  In many cases, the board delegates routine ove...        Galway   Ireland         2021-03-19
33              Asset and Liability Risk Analyst                35257          51260                62533        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  In many cases, the board delegates routine ove...      Limerick   Ireland         2021-03-19
34              Asset and Liability Risk Analyst                34565          50254                61305        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  In many cases, the board delegates routine ove...  Shannon-West   Ireland         2021-03-19
35              Asset and Liability Risk Analyst                33919          49315                60160        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  In many cases, the board delegates routine ove...     Waterford   Ireland         2021-03-19
36                             Junior Accountant                30618          36162                42089        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Assisting with monthly closings and account an...        Dublin   Ireland         2021-03-19
37                             Junior Accountant                29025          34280                39898        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Assisting with monthly closings and account an...          Cork   Ireland         2021-03-19
38                             Junior Accountant                28344          33476                38963        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Assisting with monthly closings and account an...        Galway   Ireland         2021-03-19
39                             Junior Accountant                28624          33806                39347        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Assisting with monthly closings and account an...      Limerick   Ireland         2021-03-19
40                             Junior Accountant                28062          33143                38575        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Assisting with monthly closings and account an...  Shannon-West   Ireland         2021-03-19
41                             Junior Accountant                27538          32524                37854        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Assisting with monthly closings and account an...     Waterford   Ireland         2021-03-19
42                        Financial Accountant I                30658          36209                42144        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The International Accounting Standards Board (...        Dublin   Ireland         2021-03-19
43                        Financial Accountant I                29062          34324                39950        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The International Accounting Standards Board (...          Cork   Ireland         2021-03-19
44                        Financial Accountant I                28381          33520                39014        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The International Accounting Standards Board (...        Galway   Ireland         2021-03-19
45                        Financial Accountant I                28661          33850                39398        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The International Accounting Standards Board (...      Limerick   Ireland         2021-03-19
46                        Financial Accountant I                28098          33186                38625        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The International Accounting Standards Board (...  Shannon-West   Ireland         2021-03-19
47                        Financial Accountant I                27574          32566                37903        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The International Accounting Standards Board (...     Waterford   Ireland         2021-03-19
48                     IT User Support - Manager                49156          69089                83715        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  As technology plays a key role in the overall ...        Dublin   Ireland         2021-03-19
49                     IT User Support - Manager                46598          65492                79357        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  As technology plays a key role in the overall ...          Cork   Ireland         2021-03-19
50                     IT User Support - Manager                45506          63957                77497        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  As technology plays a key role in the overall ...        Galway   Ireland         2021-03-19
51                     IT User Support - Manager                45954          64588                78261        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  As technology plays a key role in the overall ...      Limerick   Ireland         2021-03-19
52                     IT User Support - Manager                45052          63320                76725        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  As technology plays a key role in the overall ...  Shannon-West   Ireland         2021-03-19
53                     IT User Support - Manager                44211          62137                75291        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  As technology plays a key role in the overall ...     Waterford   Ireland         2021-03-19
54   Data Scientist/Analytics, Senior Specialist                69542          88499               110394        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  A data scientist’s approach to data analysis d...        Dublin   Ireland         2021-03-19
55   Data Scientist/Analytics, Senior Specialist                65922          83892               104647        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  A data scientist’s approach to data analysis d...          Cork   Ireland         2021-03-19
56   Data Scientist/Analytics, Senior Specialist                64378          81926               102195        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  A data scientist’s approach to data analysis d...        Galway   Ireland         2021-03-19
57   Data Scientist/Analytics, Senior Specialist                65012          82734               103202        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  A data scientist’s approach to data analysis d...      Limerick   Ireland         2021-03-19

In [99]:
#MongoDB Atlas
import pymongo

In [100]:
client = pymongo.MongoClient("mongodb+srv://jenieabraham:zCtWNFXdXjNOQLFb@cluster0.i6hkwqn.mongodb.net/?retryWrites=true&w=majority")

In [101]:
db = client["salary_database"]
collection=db['salary']

In [102]:
data=salary_df.to_dict(orient="records")
data

[{'job_designation': 'Data Architect II',
  'percentile25_salary': 42167,
  'median_salary': 50115,
  'percentile75_salary': 58800,
  'salary_type': 'base',
  'currency': 'EUR',
  'salary_duration': 'P1Y',
  'location': 'Dublin, Ireland',
  'last_reviewed_datetime': '2021-03-19T00:00:00Z',
  'weblink': 'https://www.salary.com/research/ie-salary/benchmark/data-architect-ii-salary/ie/dublin',
  'job_desc': 'Contribute to an architecture roadmap covering transactional, operational and business intelligence.\r\nContribute to development of standards and practices for Java, JavaScript, and SQL development.\r\nContributes to product and solution designs to address critical issues and complex problems.\r\n',
  'county': 'Dublin',
  'country': ' Ireland',
  'last_reviewed_date': Timestamp('2021-03-19 00:00:00')},
 {'job_designation': 'Data Architect II',
  'percentile25_salary': 39972,
  'median_salary': 47506,
  'percentile75_salary': 55739,
  'salary_type': 'base',
  'currency': 'EUR',
  'salary_duration': 'P1Y',
  'location': 'Cork, Ireland',
  'last_reviewed_datetime': '2021-03-19T00:00:00Z',
  'weblink': 'https://www.salary.com/research/ie-salary/benchmark/data-architect-ii-salary/ie/cork',
  'job_desc': 'Contribute to an architecture roadmap covering transactional, operational and business intelligence.\r\nContribute to development of standards and practices for Java, JavaScript, and SQL development.\r\nContributes to product and solution designs to address critical issues and complex problems.\r\n',
  'county': 'Cork',
  'country': ' Ireland',
  'last_reviewed_date': Timestamp('2021-03-19 00:00:00')},
 {'job_designation': 'Data Architect II',
  'percentile25_salary': 39035,
  'median_salary': 46393,
  'percentile75_salary': 54433,
  'salary_type': 'base',
  'currency': 'EUR',
  'salary_duration': 'P1Y',
  'location': 'Galway, Ireland',
  'last_reviewed_datetime': '2021-03-19T00:00:00Z',
  'weblink': 'https://www.salary.com/research/ie-salary/benchmark/data-architect-ii-salary/ie/galway',
  'job_desc': 'Contribute to an architecture roadmap covering transactional, operational and business intelligence.\r\nContribute to development of standards and practices for Java, JavaScript, and SQL development.\r\nContributes to product and solution designs to address critical issues and complex problems.\r\n',
  'county': 'Galway',
  'country': ' Ireland',
  'last_reviewed_date': Timestamp('2021-03-19 00:00:00')},
 {'job_designation': 'Data Architect II',
  'percentile25_salary': 39420,
  'median_salary': 46850,
  'percentile75_salary': 54969,
  'salary_type': 'base',
  'currency': 'EUR',
  'salary_duration': 'P1Y',
  'location': 'Limerick, Ireland',
  'last_reviewed_datetime': '2021-03-19T00:00:00Z',
  'weblink': 'https://www.salary.com/research/ie-salary/benchmark/data-architect-ii-salary/ie/limerick',
  'job_desc': 'Contribute to an architecture roadmap covering transactional, operational and business intelligence.\r\nContribute to development of standards and practices for Java, JavaScript, and SQL development.\r\nContributes to product and solution designs to address critical issues and complex problems.\r\n',
  'county': 'Limerick',
  'country': ' Ireland',
  'last_reviewed_date': Timestamp('2021-03-19 00:00:00')},
 {'job_designation': 'Data Architect II',
  'percentile25_salary': 38646,
  'median_salary': 45930,
  'percentile75_salary': 53890,
  'salary_type': 'base',
  'currency': 'EUR',
  'salary_duration': 'P1Y',
  'location': 'Shannon-West, Ireland',
  'last_reviewed_datetime': '2021-03-19T00:00:00Z',
  'weblink': 'https://www.salary.com/research/ie-salary/benchmark/data-architect-ii-salary/ie/shannon-west',
  'job_desc': 'Contribute to an architecture roadmap covering transactional, operational and business intelligence.\r\nContribute to development of standards and practices for Java, JavaScript, and SQL development.\r\nContributes to product and solution designs to address critical issues and complex problems.\r\n',
  'county': 'Shannon-West',
  'country': ' Ireland',
  'last_reviewed_date': Timestamp('2021-03-19 00:00:00')},
 {'job_designation': 'Data Architect II',
  'percentile25_salary': 37924,
  'median_salary': 45072,
  'percentile75_salary': 52883,
  'salary_type': 'base',
  'currency': 'EUR',
  'salary_duration': 'P1Y',
  'location': 'Waterford, Ireland',
  'last_reviewed_datetime': '2021-03-19T00:00:00Z',
  'weblink': 'https://www.salary.com/research/ie-salary/benchmark/data-architect-ii-salary/ie/waterford',
  'job_desc': 'Contribute to an architecture roadmap covering transactional, operational and business intelligence.\r\nContribute to development of standards and practices for Java, JavaScript, and SQL development.\r\nContributes to product and solution designs to address critical issues and complex problems.\r\n',
  'county': 'Waterford',
  'country': ' Ireland',
  'last_reviewed_date': Timestamp('2021-03-19 00:00:00')},
 {'job_designation': 'Personal Assistant to CEO',
  'percentile25_salary': 49989,
  'median_salary': 59510,
  'percentile75_salary': 75899,
  'salary_type': 'base',
  'currency': 'EUR',
  'salary_duration': 'P1Y',
  'location': 'Dublin, Ireland',
  'last_reviewed_datetime': '2021-03-19T00:00:00Z',
  'weblink': 'https://www.salary.com/research/ie-salary/alternate/personal-assistant-to-ceo-salary/ie/dublin',
  'job_desc': 'They may travel for the job, too, especially if the CEO wants them to attend meetings or conferences with him.\r\nThat’s unfortunate, because effective assistants can make enormous contributions to productivity at all levels of the organization.\r\nIt takes years of experience to understand the working world and what the unique role of supporting a CEO entails.\r\n',
  'county': 'Dublin',
  'country': ' Ireland',
  'last_reviewed_date': Timestamp('2021-03-19 00:00:00')},
 {'job_designation': 'Personal Assistant to CEO',
  'percentile25_salary': 47386,
  'median_salary': 56412,
  'percentile75_salary': 71948,
  'salary_type': 'base',
  'currency': 'EUR',
  'salary_duration': 'P1Y',
  'location': 'Cork, Ireland',
  'last_reviewed_datetime': '2021-03-19T00:00:00Z',
  'weblink': 'https://www.salary.com/research/ie-salary/alternate/personal-assistant-to-ceo-salary/ie/cork',
  'job_desc': 'They may travel for the job, too, especially if the CEO wants them to attend meetings or conferences with him.\r\nThat’s unfortunate, because effective assistants can make enormous contributions to productivity at all levels of the organization.\r\nIt takes years of experience to understand the working world and what the unique role of supporting a CEO entails.\r\n',
  'county': 'Cork',
  'country': ' Ireland',
  'last_reviewed_date': Timestamp('2021-03-19 00:00:00')},
 {'job_designation': 'Personal Assistant to CEO',
  'percentile25_salary': 46276,
  'median_salary': 55090,
  'percentile75_salary': 70262,
  'salary_type': 'base',
  'currency': 'EUR',
  'salary_duration': 'P1Y',
  'location': 'Galway, Ireland',
  'last_reviewed_datetime': '2021-03-19T00:00:00Z',
  'weblink': 'https://www.salary.com/research/ie-salary/alternate/personal-assistant-to-ceo-salary/ie/galway',
  'job_desc': 'They may travel for the job, too, especially if the CEO wants them to attend meetings or conferences with him.\r\nThat’s unfortunate, because effective assistants can make enormous contributions to productivity at all levels of the organization.\r\nIt takes years of experience to understand the working world and what the unique role of supporting a CEO entails.\r\n',
  'county': 'Galway',
  'country': ' Ireland',
  'last_reviewed_date': Timestamp('2021-03-19 00:00:00')},
 {'job_designation': 'Personal Assistant to CEO',
  'percentile25_salary': 46732,
  'median_salary': 55633,
  'percentile75_salary': 70955,
  'salary_type': 'base',
  'currency': 'EUR',
  'salary_duration': 'P1Y',
  'location': 'Limerick, Ireland',
  'last_reviewed_datetime': '2021-03-19T00:00:00Z',
  'weblink': 'https://www.salary.com/research/ie-salary/alternate/personal-assistant-to-ceo-salary/ie/limerick',
  'job_desc': 'They may travel for the job, too, especially if the CEO wants them to attend meetings or conferences with him.\r\nThat’s unfortunate, because effective assistants can make enormous contributions to productivity at all levels of the organization.\r\nIt takes years of experience to understand the working world and what the unique role of supporting a CEO entails.\r\n',
  'county': 'Limerick',
  'country': ' Ireland',
  'last_reviewed_date': Timestamp('2021-03-19 00:00:00')},
 {'job_designation': 'Personal Assistant to CEO',
  'percentile25_salary': 45815,
  'median_salary': 54541,
  'percentile75_salary': 69562,
  'salary_type': 'base',
  'currency': 'EUR',
  'salary_duration': 'P1Y',
  'location': 'Shannon-West, Ireland',
  'last_reviewed_datetime': '2021-03-19T00:00:00Z',
  'weblink': 'https://www.salary.com/research/ie-salary/alternate/personal-assistant-to-ceo-salary/ie/shannon-west',
  'job_desc': 'They may travel for the job, too, especially if the CEO wants them to attend meetings or conferences with him.\r\nThat’s unfortunate, because effective assistants can make enormous contributions to productivity at all levels of the organization.\r\nIt takes years of experience to understand the working world and what the unique role of supporting a CEO entails.\r\n',
  'county': 'Shannon-West',
  'country': ' Ireland',
  'last_reviewed_date': Timestamp('2021-03-19 00:00:00')},
 {'job_designation': 'Personal Assistant to CEO',
  'percentile25_salary': 44959,
  'median_salary': 53522,
  'percentile75_salary': 68263,
  'salary_type': 'base',
  'currency': 'EUR',
  'salary_duration': 'P1Y',
  'location': 'Waterford, Ireland',
  'last_reviewed_datetime': '2021-03-19T00:00:00Z',
  'weblink': 'https://www.salary.com/research/ie-salary/alternate/personal-assistant-to-ceo-salary/ie/waterford',
  'job_desc': 'They may travel for the job, too, especially if the CEO wants them to attend meetings or conferences with him.\r\nThat’s unfortunate, because effective assistants can make enormous contributions to productivity at all levels of the organization.\r\nIt takes years of experience to understand the working world and what the unique role of supporting a CEO entails.\r\n',
  'county': 'Waterford',
  'country': ' Ireland',
  'last_reviewed_date': Timestamp('2021-03-19 00:00:00')},
 {'job_designation': 'Operational Risk Analyst II',
  'percentile25_salary': 35576,
  'median_salary': 49057,
  'percentile75_salary': 61920,
  'salary_type': 'base',
  'currency': 'EUR',
  'salary_duration': 'P1Y',
  'location': 'Dublin, Ireland',
  'last_reviewed_datetime': '2021-03-19T00:00:00Z',
  'weblink': 'https://www.salary.com/research/ie-salary/alternate/operational-risk-analyst-ii-salary/ie/dublin',
  'job_desc': 'Identify, review, analyze and manage operational risks in business units.\r\nRisk causes loss of money, employees, and even safety.\r\nProvide timely update of operational risk issues and decisions to managers.\r\n',
  'county': 'Dublin',
  'country': ' Ireland',
  'last_reviewed_date': Timestamp('2021-03-19 00:00:00')},
 {'job_designation': 'Operational Risk Analyst II',
  'percentile25_salary': 33724,
  'median_salary': 46503,
  'percentile75_salary': 58696,
  'salary_type': 'base',
  'currency': 'EUR',
  'salary_duration': 'P1Y',
  'location': 'Cork, Ireland',
  'last_reviewed_datetime': '2021-03-19T00:00:00Z',
  'weblink': 'https://www.salary.com/research/ie-salary/alternate/operational-risk-analyst-ii-salary/ie/cork',
  'job_desc': 'Identify, review, analyze and manage operational risks in business units.\r\nRisk causes loss of money, employees, and even safety.\r\nProvide timely update of operational risk issues and decisions to managers.\r\n',
  'county': 'Cork',
  'country': ' Ireland',
  'last_reviewed_date': Timestamp('2021-03-19 00:00:00')},
 {'job_designation': 'Operational Risk Analyst II',
  'percentile25_salary': 32934,
  'median_salary': 45413,
  'percentile75_salary': 57321,
  'salary_type': 'base',
  'currency': 'EUR',
  'salary_duration': 'P1Y',
  'location': 'Galway, Ireland',
  'last_reviewed_datetime': '2021-03-19T00:00:00Z',
  'weblink': 'https://www.salary.com/research/ie-salary/alternate/operational-risk-analyst-ii-salary/ie/galway',
  'job_desc': 'Identify, review, analyze and manage operational risks in business units.\r\nRisk causes loss of money, employees, and even safety.\r\nProvide timely update of operational risk issues and decisions to managers.\r\n',
  'county': 'Galway',
  'country': ' Ireland',
  'last_reviewed_date': Timestamp('2021-03-19 00:00:00')},
 {'job_designation': 'Operational Risk Analyst II',
  'percentile25_salary': 33259,
  'median_salary': 45861,
  'percentile75_salary': 57886,
  'salary_type': 'base',
  'currency': 'EUR',
  'salary_duration': 'P1Y',
  'location': 'Limerick, Ireland',
  'last_reviewed_datetime': '2021-03-19T00:00:00Z',
  'weblink': 'https://www.salary.com/research/ie-salary/alternate/operational-risk-analyst-ii-salary/ie/limerick',
  'job_desc': 'Identify, review, analyze and manage operational risks in business units.\r\nRisk causes loss of money, employees, and even safety.\r\nProvide timely update of operational risk issues and decisions to managers.\r\n',
  'county': 'Limerick',
  'country': ' Ireland',
  'last_reviewed_date': Timestamp('2021-03-19 00:00:00')},
 {'job_designation': 'Operational Risk Analyst II',
  'percentile25_salary': 32606,
  'median_salary': 44961,
  'percentile75_salary': 56750,
  'salary_type': 'base',
  'currency': 'EUR',
  'salary_duration': 'P1Y',
  'location': 'Shannon-West, Ireland',
  'last_reviewed_datetime': '2021-03-19T00:00:00Z',
  'weblink': 'https://www.salary.com/research/ie-salary/alternate/operational-risk-analyst-ii-salary/ie/shannon-west',
  'job_desc': 'Identify, review, analyze and manage operational risks in business units.\r\nRisk causes loss of money, employees, and even safety.\r\nProvide timely update of operational risk issues and decisions to managers.\r\n',
  'county': 'Shannon-West',
  'country': ' Ireland',
  'last_reviewed_date': Timestamp('2021-03-19 00:00:00')},
 {'job_designation': 'Operational Risk Analyst II',
  'percentile25_salary': 31997,
  'median_salary': 44121,
  'percentile75_salary': 55689,
  'salary_type': 'base',
  'currency': 'EUR',
  'salary_duration': 'P1Y',
  'location': 'Waterford, Ireland',
  'last_reviewed_datetime': '2021-03-19T00:00:00Z',
  'weblink': 'https://www.salary.com/research/ie-salary/alternate/operational-risk-analyst-ii-salary/ie/waterford',
  'job_desc': 'Identify, review, analyze and manage operational risks in business units.\r\nRisk causes loss of money, employees, and even safety.\r\nProvide timely update of operational risk issues and decisions to managers.\r\n',
  'county': 'Waterford',
  'country': ' Ireland',
  'last_reviewed_date': Timestamp('2021-03-19 00:00:00')},
 {'job_designation': 'Entry HR Generalist',
  'percentile25_salary': 36024,
  'median_salary': 42114,
  'percentile75_salary': 51434,
  'salary_type': 'base',
  'currency': 'EUR',
  'salary_duration': 'P1Y',
  'location': 'Dublin, Ireland',
  'last_reviewed_datetime': '2021-03-19T00:00:00Z',
  'weblink': 'https://www.salary.com/research/ie-salary/alternate/entry-hr-generalist-salary/ie/dublin',
  'job_desc': 'The job of an HR generalist requires them to perform several diverse job duties, meaning those within this role can gain experience in multiple areas of human resources.\r\nThe educational requirements for an HR Generalist depend on your industry and the size of your organization, but candidates should typically have a bachelor’s degree in human resources, business or another related field.\r\nSome smaller companies start their recruitment process of a human resources department by hiring an HR generalist.\r\n',
  'county': 'Dublin',
  'country': ' Ireland',
  'last_reviewed_date': Timestamp('2021-03-19 00:00:00')},
 {'job_designation': 'Entry HR Generalist',
  'percentile25_salary': 34149,
  'median_salary': 39922,
  'percentile75_salary': 48756,
  'salary_type': 'base',
  'currency': 'EUR',
  'salary_duration': 'P1Y',
  'location': 'Cork, Ireland',
  'last_reviewed_datetime': '2021-03-19T00:00:00Z',
  'weblink': 'https://www.salary.com/research/ie-salary/alternate/entry-hr-generalist-salary/ie/cork',
  'job_desc': 'The job of an HR generalist requires them to perform several diverse job duties, meaning those within this role can gain experience in multiple areas of human resources.\r\nThe educational requirements for an HR Generalist depend on your industry and the size of your organization, but candidates should typically have a bachelor’s degree in human resources, business or another related field.\r\nSome smaller companies start their recruitment process of a human resources department by hiring an HR generalist.\r\n',
  'county': 'Cork',
  'country': ' Ireland',
  'last_reviewed_date': Timestamp('2021-03-19 00:00:00')},
 {'job_designation': 'Entry HR Generalist',
  'percentile25_salary': 33349,
  'median_salary': 38986,
  'percentile75_salary': 47614,
  'salary_type': 'base',
  'currency': 'EUR',
  'salary_duration': 'P1Y',
  'location': 'Galway, Ireland',
  'last_reviewed_datetime': '2021-03-19T00:00:00Z',
  'weblink': 'https://www.salary.com/research/ie-salary/alternate/entry-hr-generalist-salary/ie/galway',
  'job_desc': 'The job of an HR generalist requires them to perform several diverse job duties, meaning those within this role can gain experience in multiple areas of human resources.\r\nThe educational requirements for an HR Generalist depend on your industry and the size of your organization, but candidates should typically have a bachelor’s degree in human resources, business or another related field.\r\nSome smaller companies start their recruitment process of a human resources department by hiring an HR generalist.\r\n',
  'county': 'Galway',
  'country': ' Ireland',
  'last_reviewed_date': Timestamp('2021-03-19 00:00:00')},
 {'job_designation': 'Entry HR Generalist',
  'percentile25_salary': 33677,
  'median_salary': 39370,
  'percentile75_salary': 48083,
  'salary_type': 'base',
  'currency': 'EUR',
  'salary_duration': 'P1Y',
  'location': 'Limerick, Ireland',
  'last_reviewed_datetime': '2021-03-19T00:00:00Z',
  'weblink': 'https://www.salary.com/research/ie-salary/alternate/entry-hr-generalist-salary/ie/limerick',
  'job_desc': 'The job of an HR generalist requires them to perform several diverse job duties, meaning those within this role can gain experience in multiple areas of human resources.\r\nThe educational requirements for an HR Generalist depend on your industry and the size of your organization, but candidates should typically have a bachelor’s degree in human resources, business or another related field.\r\nSome smaller companies start their recruitment process of a human resources department by hiring an HR generalist.\r\n',
  'county': 'Limerick',
  'country': ' Ireland',
  'last_reviewed_date': Timestamp('2021-03-19 00:00:00')},
 {'job_designation': 'Entry HR Generalist',
  'percentile25_salary': 33016,
  'median_salary': 38597,
  'percentile75_salary': 47139,
  'salary_type': 'base',
  'currency': 'EUR',
  'salary_duration': 'P1Y',
  'location': 'Shannon-West, Ireland',
  'last_reviewed_datetime': '2021-03-19T00:00:00Z',
  'weblink': 'https://www.salary.com/research/ie-salary/alternate/entry-hr-generalist-salary/ie/shannon-west',
  'job_desc': 'The job of an HR generalist requires them to perform several diverse job duties, meaning those within this role can gain experience in multiple areas of human resources.\r\nThe educational requirements for an HR Generalist depend on your industry and the size of your organization, but candidates should typically have a bachelor’s degree in human resources, business or another related field.\r\nSome smaller companies start their recruitment process of a human resources department by hiring an HR generalist.\r\n',

In [103]:
db.salary.insert_many(data)

In [104]:
#Loading data from mongodb to python
salary_mongodb=db.salary
salary_mongodb = pd.DataFrame(list(salary_mongodb.find()))
print(salary_mongodb)

                          _id                              job_designation  percentile25_salary  median_salary  percentile75_salary salary_type currency salary_duration               location last_reviewed_datetime                                            weblink                                           job_desc        county   country last_reviewed_date
0    639a3ecf0333324f19d4e333                            Data Architect II                42167          50115                58800        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/benc...  Contribute to an architecture roadmap covering...        Dublin   Ireland         2021-03-19
1    639a3ecf0333324f19d4e334                            Data Architect II                39972          47506                55739        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/benc...  Contribute to an architecture roadmap covering...          Cork   Ireland         2021-03-19
2    639a3ecf0333324f19d4e335                            Data Architect II                39035          46393                54433        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/benc...  Contribute to an architecture roadmap covering...        Galway   Ireland         2021-03-19
3    639a3ecf0333324f19d4e336                            Data Architect II                39420          46850                54969        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/benc...  Contribute to an architecture roadmap covering...      Limerick   Ireland         2021-03-19
4    639a3ecf0333324f19d4e337                            Data Architect II                38646          45930                53890        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/benc...  Contribute to an architecture roadmap covering...  Shannon-West   Ireland         2021-03-19
5    639a3ecf0333324f19d4e338                            Data Architect II                37924          45072                52883        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/benc...  Contribute to an architecture roadmap covering...     Waterford   Ireland         2021-03-19
6    639a3ecf0333324f19d4e339                    Personal Assistant to CEO                49989          59510                75899        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  They may travel for the job, too, especially i...        Dublin   Ireland         2021-03-19
7    639a3ecf0333324f19d4e33a                    Personal Assistant to CEO                47386          56412                71948        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  They may travel for the job, too, especially i...          Cork   Ireland         2021-03-19
8    639a3ecf0333324f19d4e33b                    Personal Assistant to CEO                46276          55090                70262        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  They may travel for the job, too, especially i...        Galway   Ireland         2021-03-19
9    639a3ecf0333324f19d4e33c                    Personal Assistant to CEO                46732          55633                70955        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  They may travel for the job, too, especially i...      Limerick   Ireland         2021-03-19
10   639a3ecf0333324f19d4e33d                    Personal Assistant to CEO                45815          54541                69562        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  They may travel for the job, too, especially i...  Shannon-West   Ireland         2021-03-19
11   639a3ecf0333324f19d4e33e                    Personal Assistant to CEO                44959          53522                68263        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  They may travel for the job, too, especially i...     Waterford   Ireland         2021-03-19
12   639a3ecf0333324f19d4e33f                  Operational Risk Analyst II                35576          49057                61920        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Identify, review, analyze and manage operation...        Dublin   Ireland         2021-03-19
13   639a3ecf0333324f19d4e340                  Operational Risk Analyst II                33724          46503                58696        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Identify, review, analyze and manage operation...          Cork   Ireland         2021-03-19
14   639a3ecf0333324f19d4e341                  Operational Risk Analyst II                32934          45413                57321        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Identify, review, analyze and manage operation...        Galway   Ireland         2021-03-19
15   639a3ecf0333324f19d4e342                  Operational Risk Analyst II                33259          45861                57886        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Identify, review, analyze and manage operation...      Limerick   Ireland         2021-03-19
16   639a3ecf0333324f19d4e343                  Operational Risk Analyst II                32606          44961                56750        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Identify, review, analyze and manage operation...  Shannon-West   Ireland         2021-03-19
17   639a3ecf0333324f19d4e344                  Operational Risk Analyst II                31997          44121                55689        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Identify, review, analyze and manage operation...     Waterford   Ireland         2021-03-19
18   639a3ecf0333324f19d4e345                          Entry HR Generalist                36024          42114                51434        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The job of an HR generalist requires them to p...        Dublin   Ireland         2021-03-19
19   639a3ecf0333324f19d4e346                          Entry HR Generalist                34149          39922                48756        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The job of an HR generalist requires them to p...          Cork   Ireland         2021-03-19
20   639a3ecf0333324f19d4e347                          Entry HR Generalist                33349          38986                47614        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The job of an HR generalist requires them to p...        Galway   Ireland         2021-03-19
21   639a3ecf0333324f19d4e348                          Entry HR Generalist                33677          39370                48083        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The job of an HR generalist requires them to p...      Limerick   Ireland         2021-03-19
22   639a3ecf0333324f19d4e349                          Entry HR Generalist                33016          38597                47139        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The job of an HR generalist requires them to p...  Shannon-West   Ireland         2021-03-19
23   639a3ecf0333324f19d4e34a                          Entry HR Generalist                32400          37876                46258        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The job of an HR generalist requires them to p...     Waterford   Ireland         2021-03-19
24   639a3ecf0333324f19d4e34b                          Senior Risk Analyst                48615          67082                90253        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Risk analysts may work in sales, origination, ...        Dublin   Ireland         2021-03-19
25   639a3ecf0333324f19d4e34c                          Senior Risk Analyst                46084          63590                85555        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Risk analysts may work in sales, origination, ...          Cork   Ireland         2021-03-19
26   639a3ecf0333324f19d4e34d                          Senior Risk Analyst                45004          62100                83550        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Risk analysts may work in sales, origination, ...        Galway   Ireland         2021-03-19
27   639a3ecf0333324f19d4e34e                          Senior Risk Analyst                45448          62713                84373        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Risk analysts may work in sales, origination, ...      Limerick   Ireland         2021-03-19
28   639a3ecf0333324f19d4e34f                          Senior Risk Analyst                44556          61481                82717        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Risk analysts may work in sales, origination, ...  Shannon-West   Ireland         2021-03-19
29   639a3ecf0333324f19d4e350                          Senior Risk Analyst                43723          60333                81172        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Risk analysts may work in sales, origination, ...     Waterford   Ireland         2021-03-19
30   639a3ecf0333324f19d4e351             Asset and Liability Risk Analyst                37714          54832                66890        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  In many cases, the board delegates routine ove...        Dublin   Ireland         2021-03-19
31   639a3ecf0333324f19d4e352             Asset and Liability Risk Analyst                35751          51978                63408        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  In many cases, the board delegates routine ove...          Cork   Ireland         2021-03-19
32   639a3ecf0333324f19d4e353             Asset and Liability Risk Analyst                34913          50760                61922        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  In many cases, the board delegates routine ove...        Galway   Ireland         2021-03-19
33   639a3ecf0333324f19d4e354             Asset and Liability Risk Analyst                35257          51260                62533        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  In many cases, the board delegates routine ove...      Limerick   Ireland         2021-03-19
34   639a3ecf0333324f19d4e355             Asset and Liability Risk Analyst                34565          50254                61305        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  In many cases, the board delegates routine ove...  Shannon-West   Ireland         2021-03-19
35   639a3ecf0333324f19d4e356             Asset and Liability Risk Analyst                33919          49315                60160        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  In many cases, the board delegates routine ove...     Waterford   Ireland         2021-03-19
36   639a3ecf0333324f19d4e357                            Junior Accountant                30618          36162                42089        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Assisting with monthly closings and account an...        Dublin   Ireland         2021-03-19
37   639a3ecf0333324f19d4e358                            Junior Accountant                29025          34280                39898        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Assisting with monthly closings and account an...          Cork   Ireland         2021-03-19
38   639a3ecf0333324f19d4e359                            Junior Accountant                28344          33476                38963        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Assisting with monthly closings and account an...        Galway   Ireland         2021-03-19
39   639a3ecf0333324f19d4e35a                            Junior Accountant                28624          33806                39347        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Assisting with monthly closings and account an...      Limerick   Ireland         2021-03-19
40   639a3ecf0333324f19d4e35b                            Junior Accountant                28062          33143                38575        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Assisting with monthly closings and account an...  Shannon-West   Ireland         2021-03-19
41   639a3ecf0333324f19d4e35c                            Junior Accountant                27538          32524                37854        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  Assisting with monthly closings and account an...     Waterford   Ireland         2021-03-19
42   639a3ecf0333324f19d4e35d                       Financial Accountant I                30658          36209                42144        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The International Accounting Standards Board (...        Dublin   Ireland         2021-03-19
43   639a3ecf0333324f19d4e35e                       Financial Accountant I                29062          34324                39950        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The International Accounting Standards Board (...          Cork   Ireland         2021-03-19
44   639a3ecf0333324f19d4e35f                       Financial Accountant I                28381          33520                39014        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The International Accounting Standards Board (...        Galway   Ireland         2021-03-19
45   639a3ecf0333324f19d4e360                       Financial Accountant I                28661          33850                39398        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The International Accounting Standards Board (...      Limerick   Ireland         2021-03-19
46   639a3ecf0333324f19d4e361                       Financial Accountant I                28098          33186                38625        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The International Accounting Standards Board (...  Shannon-West   Ireland         2021-03-19
47   639a3ecf0333324f19d4e362                       Financial Accountant I                27574          32566                37903        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  The International Accounting Standards Board (...     Waterford   Ireland         2021-03-19
48   639a3ecf0333324f19d4e363                    IT User Support - Manager                49156          69089                83715        base      EUR             P1Y        Dublin, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  As technology plays a key role in the overall ...        Dublin   Ireland         2021-03-19
49   639a3ecf0333324f19d4e364                    IT User Support - Manager                46598          65492                79357        base      EUR             P1Y          Cork, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  As technology plays a key role in the overall ...          Cork   Ireland         2021-03-19
50   639a3ecf0333324f19d4e365                    IT User Support - Manager                45506          63957                77497        base      EUR             P1Y        Galway, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  As technology plays a key role in the overall ...        Galway   Ireland         2021-03-19
51   639a3ecf0333324f19d4e366                    IT User Support - Manager                45954          64588                78261        base      EUR             P1Y      Limerick, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  As technology plays a key role in the overall ...      Limerick   Ireland         2021-03-19
52   639a3ecf0333324f19d4e367                    IT User Support - Manager                45052          63320                76725        base      EUR             P1Y  Shannon-West, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  As technology plays a key role in the overall ...  Shannon-West   Ireland         2021-03-19
53   639a3ecf0333324f19d4e368                    IT User Support - Manager                44211          62137                75291        base      EUR             P1Y     Waterford, Ireland   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...  As technology plays a key role in the overall ...     Waterford   Ireland         2021-03-19

In [105]:
salary_mongodb.shape
# An adfitional column id has been introduced

(378, 15)