<a href="https://colab.research.google.com/github/abrahamjenie/Programming-for-Data-Analysis-CA1-Web-Scraping/blob/main/SalaryData_WebScraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importing Packages
import requests
from bs4 import BeautifulSoup
import json
import pandas as pd
import time

In [2]:
url="https://www.salary.com/research/ie-salary/alternate/data-scientist-analytics-intermediate-salary/ie/dublin"
r = requests.get(url)
print(r) #status code is 200

<Response [200]>

In [3]:
r.content
1

1

In [4]:
soup=BeautifulSoup(r.content,'html.parser')
script=soup.find_all('script')[5].text
script

'\r\n    {\r\n    "@context": "http://schema.org",\r\n    "@type": "Occupation",\r\n    "name": "Data Scientist/Analytics , Intermediate",\r\n    "mainEntityOfPage": {\r\n    "@type": "WebPage",\r\n    "lastReviewed": "2021-03-19T00:00:00Z"\r\n    },\r\n    "description": "A Data Scientist is a professional who extensively works with Big Data in order to derive valuable business insights from it.\r\nHowever, data scientists and predictive analytics professionals (PAPs) are more likely to hold an advanced degree.\r\nDay-to-day activities of a Data Scientist sometimes can be predictable, and sometimes they are something out of the ordinary.\r\n",\r\n    "estimatedSalary": [{\r\n    "@type": "MonetaryAmountDistribution",\r\n    "name": "base",\r\n    "currency": "EUR",\r\n    "duration": "P1Y",\r\n    "percentile25": "31559",\r\n    "median": "39009",\r\n    "percentile75": "46472"\r\n    }]\r\n        \r\n            ,\r\n            "occupationLocation": [{\r\n            "@type": "City",\r\n            "name": "Dublin, Ireland"\r\n            }]\r\n        \r\n    }\r\n'

In [5]:
json_data=json.loads(script,strict=False) #strict=False is used because there are control characters like '\r','\n'
json_data

{'@context': 'http://schema.org',
 '@type': 'Occupation',
 'name': 'Data Scientist/Analytics , Intermediate',
 'mainEntityOfPage': {'@type': 'WebPage',
  'lastReviewed': '2021-03-19T00:00:00Z'},
 'description': 'A Data Scientist is a professional who extensively works with Big Data in order to derive valuable business insights from it.\r\nHowever, data scientists and predictive analytics professionals (PAPs) are more likely to hold an advanced degree.\r\nDay-to-day activities of a Data Scientist sometimes can be predictable, and sometimes they are something out of the ordinary.\r\n',
 'estimatedSalary': [{'@type': 'MonetaryAmountDistribution',
   'name': 'base',
   'currency': 'EUR',
   'duration': 'P1Y',
   'percentile25': '31559',
   'median': '39009',
   'percentile75': '46472'}],
 'occupationLocation': [{'@type': 'City', 'name': 'Dublin, Ireland'}]}

In [6]:
meta_url=soup.find('meta',property="og:url")
meta_url

In [7]:
job_designation=json_data['name']
job_desc=json_data['description']
percentile25_salary=json_data['estimatedSalary'][0]['percentile25']
median_salary=json_data['estimatedSalary'][0]['median']
percentile75_salary=json_data['estimatedSalary'][0]['percentile75']
salary_type=json_data['estimatedSalary'][0]['name']
currency=json_data['estimatedSalary'][0]['currency']
salary_duration=json_data['estimatedSalary'][0]['duration']
location=json_data['occupationLocation'][0]['name']
last_reviewed_date=json_data['mainEntityOfPage']['lastReviewed']
weblink=meta_url['content']

print(job_designation,percentile25_salary,median_salary,percentile75_salary,salary_type,currency,salary_duration,location,last_reviewed_date,meta_url,weblink)

Data Scientist/Analytics , Intermediate 31559 39009 46472 base EUR P1Y Dublin, Ireland 2021-03-19T00:00:00Z <meta content="https://www.salary.com/research/ie-salary/alternate/data-scientist-analytics-intermediate-salary/ie/dublin" property="og:url"/> https://www.salary.com/research/ie-salary/alternate/data-scientist-analytics-intermediate-salary/ie/dublin

In [8]:
cities=['dublin','cork','galway','limerick','shannon-west','waterford']
job_roles=['personal-assistant-to-ceo','operational-risk-analyst-ii','entry-hr-generalist','senior-risk-analyst','asset-and-liability-risk-analyst','junior-accountant','financial-accountant-i','it-user-support-manager','data-scientist-analytics-senior-specialist','life-sciences-research-scientist-iii','hr-assistant-ii','data-scientist-analytics-intermediate','entry-financial-analyst','entry-accountant','graphic-designer-ii','instructional-designer','healthcare-services-planning-director','warehouse-operations-supervisor','database-warehouse-programmer','warehouse-helper']
data={}
salary_df=pd.DataFrame(data)
for role in job_roles:
  for city in cities:
    template = 'https://www.salary.com/research/ie-salary/alternate/{}-salary/ie/{}'
    try:
      url = template.format(role, city)
      r = requests.get(url)
      if r.status_code !=200:
        raise Exception
    except:
      print("HTTP request failed for {}".format(url))
      continue
        
    soup=BeautifulSoup(r.content,'html.parser')
    script=soup.find_all('script')[5].text
    
    json_data=json.loads(script,strict=False)
    
    meta_url=soup.find('meta',property="og:url")
    
    new_row={'job_designation':json_data['name'],'percentile25_salary':json_data['estimatedSalary'][0]['percentile25'],
             'median_salary':json_data['estimatedSalary'][0]['median'],'percentile75_salary':json_data['estimatedSalary'][0]['percentile75'],
             'salary_type':json_data['estimatedSalary'][0]['name'],'currency':json_data['estimatedSalary'][0]['currency'],
             'salary_duration':json_data['estimatedSalary'][0]['duration'],'location':json_data['occupationLocation'][0]['name'],
             'last_reviewed_date':json_data['mainEntityOfPage']['lastReviewed'],'weblink':meta_url['content'],'job_desc':json_data['description']}
    salary_df = salary_df.append(new_row, ignore_index=True)
print(salary_df.shape)

(120, 11)

In [9]:
data={}

def get_salary(job_roles, cities):
  salary_df=pd.DataFrame(data)
  for role in job_roles:
    for city in cities:
      template = 'https://www.salary.com/research/ie-salary/alternate/{}-salary/ie/{}'
      try:
        url = template.format(role, city)
        r = requests.get(url)
        if r.status_code !=200:
          raise Exception
      except:
        continue
        print("HTTP request failed for job designation {} and county {}".format(role, city))
      
      soup=BeautifulSoup(r.content,'html.parser')
      script=soup.find_all('script')[5].text
      
      json_data=json.loads(script,strict=False)
      
      meta_url=soup.find('meta',property="og:url")
      
      new_row={'job_designation':json_data['name'],'percentile25_salary':json_data['estimatedSalary'][0]['percentile25'],
              'median_salary':json_data['estimatedSalary'][0]['median'],'percentile75_salary':json_data['estimatedSalary'][0]['percentile75'],
              'salary_type':json_data['estimatedSalary'][0]['name'],'currency':json_data['estimatedSalary'][0]['currency'],
              'salary_duration':json_data['estimatedSalary'][0]['duration'],'location':json_data['occupationLocation'][0]['name'],
              'last_reviewed_date':json_data['mainEntityOfPage']['lastReviewed'],'weblink':meta_url['content'],'job_desc':json_data['description']}
      salary_df=salary_df.append(new_row, ignore_index=True)
  return salary_df
  return salary_df.shape

In [ ]:
cities=['dublin','cork','galway','limerick','shannon-west','waterford']
job_roles=['test','entry-financial-analyst','entry-accountant','graphic-designer-ii','sales-director','instructional-designer','software-engineer-I','web-software-developer-ii','sales-assistant-I','digital-marketing-manager','healthcare-services-planning-director','quality-assurance-specialist-I','business-data-analyst-I','data-architect-I','warehouse-helper','database-warehouse-programmer']
get_salary(job_roles,cities)

In [ ]:
salary_df.shape