<a href="https://colab.research.google.com/github/abrahamjenie/Programming-for-Data-Analysis-CA1-Web-Scraping/blob/main/SalaryData_WebScraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Importing Packages
import requests
from bs4 import BeautifulSoup
import json
import pandas as pd
import lxml
import time

In [7]:
url="https://www.salary.com/research/ie-salary/alternate/data-scientist-analytics-intermediate-salary/ie/dublin"
r = requests.get(url)
print(r) #status code is 200

<Response [200]>

In [8]:
r.content
1

1

In [9]:
soup=BeautifulSoup(r.content,'html.parser')
script=soup.find_all('script')[5].text
script

'\r\n    {\r\n    "@context": "http://schema.org",\r\n    "@type": "Occupation",\r\n    "name": "Data Scientist/Analytics , Intermediate",\r\n    "mainEntityOfPage": {\r\n    "@type": "WebPage",\r\n    "lastReviewed": "2021-03-19T00:00:00Z"\r\n    },\r\n    "description": "A Data Scientist is a professional who extensively works with Big Data in order to derive valuable business insights from it.\r\nHowever, data scientists and predictive analytics professionals (PAPs) are more likely to hold an advanced degree.\r\nDay-to-day activities of a Data Scientist sometimes can be predictable, and sometimes they are something out of the ordinary.\r\n",\r\n    "estimatedSalary": [{\r\n    "@type": "MonetaryAmountDistribution",\r\n    "name": "base",\r\n    "currency": "EUR",\r\n    "duration": "P1Y",\r\n    "percentile25": "31559",\r\n    "median": "39009",\r\n    "percentile75": "46472"\r\n    }]\r\n        \r\n            ,\r\n            "occupationLocation": [{\r\n            "@type": "City",\r\n            "name": "Dublin, Ireland"\r\n            }]\r\n        \r\n    }\r\n'

In [10]:
json_data=json.loads(script,strict=False) #strict=False is used because there are control characters like '\r','\n'
json_data

{'@context': 'http://schema.org',
 '@type': 'Occupation',
 'name': 'Data Scientist/Analytics , Intermediate',
 'mainEntityOfPage': {'@type': 'WebPage',
  'lastReviewed': '2021-03-19T00:00:00Z'},
 'description': 'A Data Scientist is a professional who extensively works with Big Data in order to derive valuable business insights from it.\r\nHowever, data scientists and predictive analytics professionals (PAPs) are more likely to hold an advanced degree.\r\nDay-to-day activities of a Data Scientist sometimes can be predictable, and sometimes they are something out of the ordinary.\r\n',
 'estimatedSalary': [{'@type': 'MonetaryAmountDistribution',
   'name': 'base',
   'currency': 'EUR',
   'duration': 'P1Y',
   'percentile25': '31559',
   'median': '39009',
   'percentile75': '46472'}],
 'occupationLocation': [{'@type': 'City', 'name': 'Dublin, Ireland'}]}

In [11]:
meta_url=soup.find('meta',property="og:url")
meta_url

In [12]:
job_designation=json_data['name']
job_desc=json_data['description']
percentile25_salary=json_data['estimatedSalary'][0]['percentile25']
median_salary=json_data['estimatedSalary'][0]['median']
percentile75_salary=json_data['estimatedSalary'][0]['percentile75']
salary_type=json_data['estimatedSalary'][0]['name']
currency=json_data['estimatedSalary'][0]['currency']
salary_duration=json_data['estimatedSalary'][0]['duration']
location=json_data['occupationLocation'][0]['name']
last_reviewed_date=json_data['mainEntityOfPage']['lastReviewed']
weblink=meta_url['content']

print(job_designation,percentile25_salary,median_salary,percentile75_salary,salary_type,currency,salary_duration,location,last_reviewed_date,meta_url,weblink)

Data Scientist/Analytics , Intermediate 31559 39009 46472 base EUR P1Y Dublin, Ireland 2021-03-19T00:00:00Z <meta content="https://www.salary.com/research/ie-salary/alternate/data-scientist-analytics-intermediate-salary/ie/dublin" property="og:url"/> https://www.salary.com/research/ie-salary/alternate/data-scientist-analytics-intermediate-salary/ie/dublin

In [13]:
cities=['dublin','cork','galway','limerick','shannon-west','waterford']
job_roles=['entry-financial-analyst','entry-accountant','graphic-designer-ii','healthcare-services-planning-director','instructional-designer']
data={}
salary_df=pd.DataFrame(data)
for role in job_roles:
  for city in cities:
    template = 'https://www.salary.com/research/ie-salary/alternate/{}-salary/ie/{}'
    url = template.format(role, city)
    r = requests.get(url)
    
    soup=BeautifulSoup(r.content,'html.parser')
    script=soup.find_all('script')[5].text
    
    json_data=json.loads(script,strict=False)
    
    meta_url=soup.find('meta',property="og:url")
    
    new_row={'job_designation':json_data['name'],'percentile25_salary':json_data['estimatedSalary'][0]['percentile25'],
             'median_salary':json_data['estimatedSalary'][0]['median'],'percentile75_salary':json_data['estimatedSalary'][0]['percentile75'],
             'salary_type':json_data['estimatedSalary'][0]['name'],'currency':json_data['estimatedSalary'][0]['currency'],
             'salary_duration':json_data['estimatedSalary'][0]['duration'],'location':json_data['occupationLocation'][0]['name'],
             'last_reviewed_date':json_data['mainEntityOfPage']['lastReviewed'],'weblink':meta_url['content'],'job_desc':json_data['description']}
    salary_df = salary_df.append(new_row, ignore_index=True)
print(salary_df)

                          job_designation percentile25_salary median_salary  \
0                 Entry Financial Analyst               35028         40101
1                 Entry Financial Analyst               33205         38013
2                 Entry Financial Analyst               32426         37122
3                 Entry Financial Analyst               32746         37488
4                 Entry Financial Analyst               32103         36752
5                 Entry Financial Analyst               31503         36066
6                        Entry Accountant               30577         36114
7                        Entry Accountant               28986         34234
8                        Entry Accountant               28306         33431
9                        Entry Accountant               28585         33761
10                       Entry Accountant               28024         33098
11                       Entry Accountant               27501         32480
12                    Graphic Designer II               42179         48299
13                    Graphic Designer II               39984         45785
14                    Graphic Designer II               39047         44712
15                    Graphic Designer II               39432         45153
16                    Graphic Designer II               38658         44266
17                    Graphic Designer II               37936         43439
18  Healthcare Services Planning Director               89038        112863
19  Healthcare Services Planning Director               84403        106988
20  Healthcare Services Planning Director               82425        104481
21  Healthcare Services Planning Director               83238        105511
22  Healthcare Services Planning Director               81604        103440
23  Healthcare Services Planning Director               80079        101507
24                 Instructional Designer               40423         48020
25                 Instructional Designer               38319         45520
26                 Instructional Designer               37421         44453
27                 Instructional Designer               37790         44892
28                 Instructional Designer               37048         44010
29                 Instructional Designer               36356         43188

   percentile75_salary salary_type currency salary_duration  \
0                49055        base      EUR             P1Y
1                46502        base      EUR             P1Y
2                45412        base      EUR             P1Y
3                45859        base      EUR             P1Y
4                44959        base      EUR             P1Y
5                44119        base      EUR             P1Y
6                42033        base      EUR             P1Y
7                39845        base      EUR             P1Y
8                38911        base      EUR             P1Y
9                39294        base      EUR             P1Y
10               38523        base      EUR             P1Y
11               37803        base      EUR             P1Y
12               62731        base      EUR             P1Y
13               59465        base      EUR             P1Y
14               58072        base      EUR             P1Y
15               58644        base      EUR             P1Y
16               57493        base      EUR             P1Y
17               56419        base      EUR             P1Y
18              137388        base      EUR             P1Y
19              130237        base      EUR             P1Y
20              127184        base      EUR             P1Y
21              128438        base      EUR             P1Y
22              125917        base      EUR             P1Y
23              123565        base      EUR             P1Y
24               58599        base      EUR             P1Y
25               55548        base      EUR             P1Y
26               54246        base      EUR             P1Y
27               54781        base      EUR             P1Y
28               53706        base      EUR             P1Y
29               52703        base      EUR             P1Y

                 location    last_reviewed_date  \
0         Dublin, Ireland  2021-03-19T00:00:00Z
1           Cork, Ireland  2021-03-19T00:00:00Z
2         Galway, Ireland  2021-03-19T00:00:00Z
3       Limerick, Ireland  2021-03-19T00:00:00Z
4   Shannon-West, Ireland  2021-03-19T00:00:00Z
5      Waterford, Ireland  2021-03-19T00:00:00Z
6         Dublin, Ireland  2021-03-19T00:00:00Z
7           Cork, Ireland  2021-03-19T00:00:00Z
8         Galway, Ireland  2021-03-19T00:00:00Z
9       Limerick, Ireland  2021-03-19T00:00:00Z
10  Shannon-West, Ireland  2021-03-19T00:00:00Z
11     Waterford, Ireland  2021-03-19T00:00:00Z
12        Dublin, Ireland  2021-03-19T00:00:00Z
13          Cork, Ireland  2021-03-19T00:00:00Z
14        Galway, Ireland  2021-03-19T00:00:00Z
15      Limerick, Ireland  2021-03-19T00:00:00Z
16  Shannon-West, Ireland  2021-03-19T00:00:00Z
17     Waterford, Ireland  2021-03-19T00:00:00Z
18        Dublin, Ireland  2021-03-19T00:00:00Z
19          Cork, Ireland  2021-03-19T00:00:00Z
20        Galway, Ireland  2021-03-19T00:00:00Z
21      Limerick, Ireland  2021-03-19T00:00:00Z
22  Shannon-West, Ireland  2021-03-19T00:00:00Z
23     Waterford, Ireland  2021-03-19T00:00:00Z
24        Dublin, Ireland  2021-03-19T00:00:00Z
25          Cork, Ireland  2021-03-19T00:00:00Z
26        Galway, Ireland  2021-03-19T00:00:00Z
27      Limerick, Ireland  2021-03-19T00:00:00Z
28  Shannon-West, Ireland  2021-03-19T00:00:00Z
29     Waterford, Ireland  2021-03-19T00:00:00Z

                                              weblink  \
0   https://www.salary.com/research/ie-salary/alte...
1   https://www.salary.com/research/ie-salary/alte...
2   https://www.salary.com/research/ie-salary/alte...
3   https://www.salary.com/research/ie-salary/alte...
4   https://www.salary.com/research/ie-salary/alte...
5   https://www.salary.com/research/ie-salary/alte...
6   https://www.salary.com/research/ie-salary/alte...
7   https://www.salary.com/research/ie-salary/alte...
8   https://www.salary.com/research/ie-salary/alte...
9   https://www.salary.com/research/ie-salary/alte...
10  https://www.salary.com/research/ie-salary/alte...
11  https://www.salary.com/research/ie-salary/alte...
12  https://www.salary.com/research/ie-salary/alte...
13  https://www.salary.com/research/ie-salary/alte...
14  https://www.salary.com/research/ie-salary/alte...
15  https://www.salary.com/research/ie-salary/alte...
16  https://www.salary.com/research/ie-salary/alte...
17  https://www.salary.com/research/ie-salary/alte...
18  https://www.salary.com/research/ie-salary/alte...
19  https://www.salary.com/research/ie-salary/alte...
20  https://www.salary.com/research/ie-salary/alte...
21  https://www.salary.com/research/ie-salary/alte...
22  https://www.salary.com/research/ie-salary/alte...
23  https://www.salary.com/research/ie-salary/alte...
24  https://www.salary.com/research/ie-salary/alte...
25  https://www.salary.com/research/ie-salary/alte...
26  https://www.salary.com/research/ie-salary/alte...
27  https://www.salary.com/research/ie-salary/alte...
28  https://www.salary.com/research/ie-salary/alte...
29  https://www.salary.com/research/ie-salary/alte...

                                             job_desc
0   Candidates for Entry Level Financial Analyst j...
1   Candidates for Entry Level Financial Analyst j...
2   Candidates for Entry Level Financial Analyst j...
3   Candidates for Entry Level Financial Analyst j...
4   Candidates for Entry Level Financial Analyst j...
5   Candidates for Entry Level Financial Analyst j...
6   Staff accountants typically work under experie...
7   Staff accountants typically work under experie...
8   Staff accountants typically work under experie...
9   Staff accountants typically work under experie...
10  Staff accountants typically work under experie...
11  Staff accountants typically work under experie...
12  This graphic designer works in CAD programs to...
13  This graphic designer works in CAD programs to...
14  This graphic designer works in CAD programs to...
15  This graphic designer works in CAD programs to...
16  This graphic designer works in CAD programs to...
17  This graphic designer works in CAD programs to...
18  The outlook for Medical and Health Services Ma...
19  The outlook for Medical and Health Services Ma...
20  The outlook for Medical and Health Services Ma...
21  The outlook for Medical and Health Services Ma...
22  The outlook for Medical and Health Services Ma...
23  The outlook for Medical and Health Services Ma...
24  In context of this background, let’s take a lo...
25  In context of this background, let’s take a lo...
26  In context of this background, let’s take a lo...
27  In context of this background, let’s take a lo...
28  In context of this background, let’s take a lo...
29  In context of this background, let’s take a lo...