<a href="https://colab.research.google.com/github/abrahamjenie/Programming-for-Data-Analysis-CA1-Web-Scraping/blob/main/SalaryData_WebScraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#Importing Packages
import requests
from bs4 import BeautifulSoup
import json
import pandas as pd
import time

In [13]:
url="https://www.salary.com/research/ie-salary/alternate/data-scientist-analytics-intermediate-salary/ie/dublin"
r = requests.get(url)
print(r) #status code is 200

<Response [200]>

In [14]:
r.content
1

1

In [15]:
soup=BeautifulSoup(r.content,'html.parser')
script=soup.find_all('script')[5].text
script

'\r\n    {\r\n    "@context": "http://schema.org",\r\n    "@type": "Occupation",\r\n    "name": "Data Scientist/Analytics , Intermediate",\r\n    "mainEntityOfPage": {\r\n    "@type": "WebPage",\r\n    "lastReviewed": "2021-03-19T00:00:00Z"\r\n    },\r\n    "description": "A Data Scientist is a professional who extensively works with Big Data in order to derive valuable business insights from it.\r\nHowever, data scientists and predictive analytics professionals (PAPs) are more likely to hold an advanced degree.\r\nDay-to-day activities of a Data Scientist sometimes can be predictable, and sometimes they are something out of the ordinary.\r\n",\r\n    "estimatedSalary": [{\r\n    "@type": "MonetaryAmountDistribution",\r\n    "name": "base",\r\n    "currency": "EUR",\r\n    "duration": "P1Y",\r\n    "percentile25": "31559",\r\n    "median": "39009",\r\n    "percentile75": "46472"\r\n    }]\r\n        \r\n            ,\r\n            "occupationLocation": [{\r\n            "@type": "City",\r\n            "name": "Dublin, Ireland"\r\n            }]\r\n        \r\n    }\r\n'

In [16]:
json_data=json.loads(script,strict=False) #strict=False is used because there are control characters like '\r','\n'
json_data

{'@context': 'http://schema.org',
 '@type': 'Occupation',
 'name': 'Data Scientist/Analytics , Intermediate',
 'mainEntityOfPage': {'@type': 'WebPage',
  'lastReviewed': '2021-03-19T00:00:00Z'},
 'description': 'A Data Scientist is a professional who extensively works with Big Data in order to derive valuable business insights from it.\r\nHowever, data scientists and predictive analytics professionals (PAPs) are more likely to hold an advanced degree.\r\nDay-to-day activities of a Data Scientist sometimes can be predictable, and sometimes they are something out of the ordinary.\r\n',
 'estimatedSalary': [{'@type': 'MonetaryAmountDistribution',
   'name': 'base',
   'currency': 'EUR',
   'duration': 'P1Y',
   'percentile25': '31559',
   'median': '39009',
   'percentile75': '46472'}],
 'occupationLocation': [{'@type': 'City', 'name': 'Dublin, Ireland'}]}

In [17]:
meta_url=soup.find('meta',property="og:url")
meta_url

In [18]:
job_designation=json_data['name']
job_desc=json_data['description']
percentile25_salary=json_data['estimatedSalary'][0]['percentile25']
median_salary=json_data['estimatedSalary'][0]['median']
percentile75_salary=json_data['estimatedSalary'][0]['percentile75']
salary_type=json_data['estimatedSalary'][0]['name']
currency=json_data['estimatedSalary'][0]['currency']
salary_duration=json_data['estimatedSalary'][0]['duration']
location=json_data['occupationLocation'][0]['name']
last_reviewed_datetime=json_data['mainEntityOfPage']['lastReviewed']
weblink=meta_url['content']

print(job_designation,percentile25_salary,median_salary,percentile75_salary,salary_type,currency,salary_duration,location,last_reviewed_date,meta_url,weblink)

Data Scientist/Analytics , Intermediate 31559 39009 46472 base EUR P1Y Dublin, Ireland 2021-03-19T00:00:00Z <meta content="https://www.salary.com/research/ie-salary/alternate/data-scientist-analytics-intermediate-salary/ie/dublin" property="og:url"/> https://www.salary.com/research/ie-salary/alternate/data-scientist-analytics-intermediate-salary/ie/dublin

In [19]:
cities=['dublin','cork','galway','limerick','shannon-west','waterford']
job_roles=['data-architect-ii','personal-assistant-to-ceo','operational-risk-analyst-ii','entry-hr-generalist','senior-risk-analyst','asset-and-liability-risk-analyst','junior-accountant','financial-accountant-i','it-user-support-manager','data-scientist-analytics-senior-specialist','life-sciences-research-scientist-iii','hr-assistant-ii','data-scientist-analytics-intermediate','entry-financial-analyst','entry-accountant','graphic-designer-ii','instructional-designer','healthcare-services-planning-director','warehouse-operations-supervisor','database-warehouse-programmer','warehouse-helper']
data={}
salary_df=pd.DataFrame(data)
for role in job_roles:
  for city in cities:
    alternate = 'https://www.salary.com/research/ie-salary/alternate/{}-salary/ie/{}'
    benchmark = 'https://www.salary.com/research/ie-salary/benchmark/{}-salary/ie/{}'

    url_alt = alternate.format(role, city)
    url_bench= benchmark.format(role, city)
    r_alt = requests.get(url_alt)
    r_bench=requests.get(url_bench)

    if r_alt.status_code==200 and r_bench.status_code!=200:
      r=requests.get(url_alt)
    elif r_bench.status_code==200 and r_alt.status_code!=200:
      r=requests.get(url_bench)
    else:
      print("HTTP request failed for {} and {}".format(url_alt,url_bench))
      continue

        
    soup=BeautifulSoup(r.content,'html.parser')
    script=soup.find_all('script')[5].text
    
    json_data=json.loads(script,strict=False)
    
    meta_url=soup.find('meta',property="og:url")
    
    new_row={'job_designation':json_data['name'],'percentile25_salary':json_data['estimatedSalary'][0]['percentile25'],
             'median_salary':json_data['estimatedSalary'][0]['median'],'percentile75_salary':json_data['estimatedSalary'][0]['percentile75'],
             'salary_type':json_data['estimatedSalary'][0]['name'],'currency':json_data['estimatedSalary'][0]['currency'],
             'salary_duration':json_data['estimatedSalary'][0]['duration'],'location':json_data['occupationLocation'][0]['name'],
             'last_reviewed_datetime':json_data['mainEntityOfPage']['lastReviewed'],'weblink':meta_url['content'],'job_desc':json_data['description']}
    salary_df = salary_df.append(new_row, ignore_index=True)
print(salary_df)

       job_designation percentile25_salary median_salary percentile75_salary  \
0    Data Architect II               42167         50115               58800
1    Data Architect II               39972         47506               55739
2    Data Architect II               39035         46393               54433
3    Data Architect II               39420         46850               54969
4    Data Architect II               38646         45930               53890
..                 ...                 ...           ...                 ...
121   Warehouse Helper               22562         29382               38055
122   Warehouse Helper               22033         28693               37163
123   Warehouse Helper               22251         28976               37530
124   Warehouse Helper               21814         28407               36793
125   Warehouse Helper               21406         27877               36106

    salary_type currency salary_duration               location  \
0          base      EUR             P1Y        Dublin, Ireland
1          base      EUR             P1Y          Cork, Ireland
2          base      EUR             P1Y        Galway, Ireland
3          base      EUR             P1Y      Limerick, Ireland
4          base      EUR             P1Y  Shannon-West, Ireland
..          ...      ...             ...                    ...
121        base      EUR             P1Y          Cork, Ireland
122        base      EUR             P1Y        Galway, Ireland
123        base      EUR             P1Y      Limerick, Ireland
124        base      EUR             P1Y  Shannon-West, Ireland
125        base      EUR             P1Y     Waterford, Ireland

    last_reviewed_datetime                                            weblink  \
0     2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/benc...
1     2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/benc...
2     2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/benc...
3     2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/benc...
4     2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/benc...
..                     ...                                                ...
121   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...
122   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...
123   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...
124   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...
125   2021-03-19T00:00:00Z  https://www.salary.com/research/ie-salary/alte...

                                              job_desc
0    Contribute to an architecture roadmap covering...
1    Contribute to an architecture roadmap covering...
2    Contribute to an architecture roadmap covering...
3    Contribute to an architecture roadmap covering...
4    Contribute to an architecture roadmap covering...
..                                                 ...
121  When assigned to this particular warehouse dut...
122  When assigned to this particular warehouse dut...
123  When assigned to this particular warehouse dut...
124  When assigned to this particular warehouse dut...
125  When assigned to this particular warehouse dut...

[126 rows x 11 columns]

In [41]:
#Checking for missing values in the dataset
salary_df.isna().sum()

job_designation           0
percentile25_salary       0
median_salary             0
percentile75_salary       0
salary_type               0
currency                  0
salary_duration           0
location                  0
last_reviewed_datetime    0
weblink                   0
job_desc                  0
county                    0
country                   0
last_reviewed_date        0
dtype: int64

In [29]:
#Checking the datatype of each feature
salary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   job_designation         126 non-null    object
 1   percentile25_salary     126 non-null    object
 2   median_salary           126 non-null    object
 3   percentile75_salary     126 non-null    object
 4   salary_type             126 non-null    object
 5   currency                126 non-null    object
 6   salary_duration         126 non-null    object
 7   location                126 non-null    object
 8   last_reviewed_datetime  126 non-null    object
 9   weblink                 126 non-null    object
 10  job_desc                126 non-null    object
 11  county                  126 non-null    object
 12  country                 126 non-null    object
 13  last_reviewed_date      126 non-null    datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), object(13)
memory usage: 13.9+ KB

In [38]:
#Data Cleaning

#Coverting the datatype from object to integer for the features percentile25_salary, median_salary  and salary_type 
salary_df=salary_df.astype({'percentile25_salary':'int','median_salary':'int','percentile75_salary':'int'})

#Splitting the 'location' feature into two new features 'county' and 'country'
location=salary_df['location'].str.split(",",expand=True) #expand=True will give the output in a dataframe instead of the default list
salary_df['county']=location[0]
salary_df['country']=location[1]

#Extracting only the date part from 'last_reviewed_datetime' and stored in a new feature 'last_reviewed_date'
import datetime
salary_df['last_reviewed_date']=pd.to_datetime(salary_df['last_reviewed_datetime'].str.slice(0, 10))

salary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   job_designation         126 non-null    object
 1   percentile25_salary     126 non-null    int64
 2   median_salary           126 non-null    int64
 3   percentile75_salary     126 non-null    int64
 4   salary_type             126 non-null    object
 5   currency                126 non-null    object
 6   salary_duration         126 non-null    object
 7   location                126 non-null    object
 8   last_reviewed_datetime  126 non-null    object
 9   weblink                 126 non-null    object
 10  job_desc                126 non-null    object
 11  county                  126 non-null    object
 12  country                 126 non-null    object
 13  last_reviewed_date      126 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(10)
memory usage: 13.9+ KB

In [43]:
salary_df.describe()

       percentile25_salary  median_salary  percentile75_salary
count           126.000000     126.000000           126.000000
mean          39858.174603   49830.857143         61303.214286
std           13823.469212   18079.048392         22630.485614
min           21406.000000   27877.000000         36106.000000
25%           30484.000000   36273.750000         43665.250000
50%           37160.000000   45823.000000         56016.000000
75%           44992.750000   56217.250000         70726.250000
max           89038.000000  112863.000000        137388.000000

In [54]:
salary_df.groupby(['job_designation']).describe()

                                            percentile25_salary                \
                                                          count          mean
job_designation
Asset and Liability Risk Analyst                            6.0  35353.166667
Data Architect II                                           6.0  39527.333333
Data Scientist/Analytics , Intermediate                     6.0  29583.333333
Data Scientist/Analytics, Senior Specialist                 6.0  65189.166667
Database/Warehouse Programmer                               6.0  39239.666667
Entry Accountant                                            6.0  28663.166667
Entry Financial Analyst                                     6.0  32835.166667
Entry HR Generalist                                         6.0  33769.166667
Financial Accountant I                                      6.0  28739.000000
Graphic Designer II                                         6.0  39539.333333
HR Assistant II                                             6.0  28546.666667
Healthcare Services Planning Director                       6.0  83464.500000
IT User Support - Manager                                   6.0  46079.500000
Instructional Designer                                      6.0  37892.833333
Junior Accountant                                           6.0  28701.833333
Life Sciences Research Scientist III                        6.0  54063.666667
Operational Risk Analyst II                                 6.0  33349.333333
Personal Assistant to CEO                                   6.0  46859.500000
Senior Risk Analyst                                         6.0  45571.666667
Warehouse Helper                                            6.0  22311.166667
Warehouse Operations Supervisor                             6.0  37742.500000

                                                                             \
                                                     std      min       25%
job_designation
Asset and Liability Risk Analyst             1312.466444  33919.0  34652.00
Data Architect II                            1467.440447  37924.0  38743.25
Data Scientist/Analytics , Intermediate      1098.323207  28383.0  28996.75
Data Scientist/Analytics, Senior Specialist  2419.788951  62545.0  63896.50
Database/Warehouse Programmer                1456.676995  37648.0  38461.50
Entry Accountant                             1063.938234  27501.0  28094.50
Entry Financial Analyst                      1219.130742  31503.0  32183.75
Entry HR Generalist                          1253.431995  32400.0  33099.25
Financial Accountant I                       1066.699958  27574.0  28168.75
Graphic Designer II                          1467.440447  37936.0  38755.25
HR Assistant II                              1059.757457  27389.0  27980.25
Healthcare Services Planning Director        3098.374332  80079.0  81809.25
IT User Support - Manager                    1710.286263  44211.0  45165.50
Instructional Designer                       1406.567654  36356.0  37141.25
Junior Accountant                            1065.282013  27538.0  28132.50
Life Sciences Research Scientist III         2007.054226  51871.0  52991.00
Operational Risk Analyst II                  1237.774724  31997.0  32688.00
Personal Assistant to CEO                    1739.573597  44959.0  45930.25
Senior Risk Analyst                          1691.806687  43723.0  44668.00
Warehouse Helper                              828.253443  21406.0  21868.75
Warehouse Operations Supervisor              1401.110238  36212.0  36993.75

                                                                         \
                                                 50%       75%      max
job_designation
Asset and Liability Risk Analyst             35085.0  35627.50  37714.0
Data Architect II                            39227.5  39834.00  42167.0
Data Scientist/Analytics , Intermediate      29359.0  29812.75  31559.0
Data Scientist/Analytics, Senior Specialist  64695.0  65694.50  69542.0
Database/Warehouse Programmer                38942.0  39544.00  41860.0
Entry Accountant                             28445.5  28885.75  30577.0
Entry Financial Analyst                      32586.0  33090.25  35028.0
Entry HR Generalist                          33513.0  34031.00  36024.0
Financial Accountant I                       28521.0  28961.75  30658.0
Graphic Designer II                          39239.5  39846.00  42179.0
HR Assistant II                              28330.0  28768.25  30453.0
Healthcare Services Planning Director        82831.5  84111.75  89038.0
IT User Support - Manager                    45730.0  46437.00  49156.0
Instructional Designer                       37605.5  38186.75  40423.0
Junior Accountant                            28484.0  28924.75  30618.0
Life Sciences Research Scientist III         53653.5  54483.25  57674.0
Operational Risk Analyst II                  33096.5  33607.75  35576.0
Personal Assistant to CEO                    46504.0  47222.50  49989.0
Senior Risk Analyst                          45226.0  45925.00  48615.0
Warehouse Helper                             22142.0  22484.25  23801.0
Warehouse Operations Supervisor              37456.0  38035.25  40263.0

                                            median_salary                 ...  \
                                                    count           mean  ...
job_designation                                                           ...
Asset and Liability Risk Analyst                      6.0   51399.833333  ...
Data Architect II                                     6.0   46977.666667  ...
Data Scientist/Analytics , Intermediate               6.0   36567.333333  ...
Data Scientist/Analytics, Senior Specialist           6.0   82959.166667  ...
Database/Warehouse Programmer                         6.0   47465.166667  ...
Entry Accountant                                      6.0   33853.000000  ...
Entry Financial Analyst                               6.0   37590.333333  ...
Entry HR Generalist                                   6.0   39477.500000  ...
Financial Accountant I                                6.0   33942.500000  ...
Graphic Designer II                                   6.0   45275.666667  ...
HR Assistant II                                       6.0   36222.333333  ...
Healthcare Services Planning Director                 6.0  105798.333333  ...
IT User Support - Manager                             6.0   64763.833333  ...
Instructional Designer                                6.0   45013.833333  ...
Junior Accountant                                     6.0   33898.500000  ...
Life Sciences Research Scientist III                  6.0   63716.500000  ...
Operational Risk Analyst II                           6.0   45986.000000  ...
Personal Assistant to CEO                             6.0   55784.666667  ...
Senior Risk Analyst                                   6.0   62883.166667  ...
Warehouse Helper                                      6.0   29055.000000  ...
Warehouse Operations Supervisor                       6.0   47817.666667  ...

                                                                  \
                                                   75%       max
job_designation
Asset and Liability Risk Analyst              51798.50   54832.0
Data Architect II                             47342.00   50115.0
Data Scientist/Analytics , Intermediate       36851.25   39009.0
Data Scientist/Analytics, Senior Specialist   83602.50   88499.0
Database/Warehouse Programmer                 47833.25   50635.0
Entry Accountant                              34115.75   36114.0
Entry Financial Analyst                       37881.75   40101.0
Entry HR Generalist                           39784.00   42114.0
Financial Accountant I                        34205.50   36209.0
Graphic Designer II                           45627.00   48299.0
HR Assistant II                               36503.50   38641.0
Healthcare Services Planning Director        106618.75  112863.0
IT User Support - Manager                     65266.00   69089.0
Instructional Designer                        45363.00   48020.0
Junior Accountant                             34161.50   36162.0
Life Sciences Research Scientist III          64210.75   67971.0
Operational Risk Analyst II                   46342.50   49057.0
Personal Assistant to CEO                     56217.25   59510.0
Senior Risk Analyst                           63370.75   67082.0
Warehouse Helper                              29280.50   30995.0
Warehouse Operations Supervisor               48188.25   51011.0

                                            percentile75_salary  \
                                                          count
job_designation
Asset and Liability Risk Analyst                            6.0
Data Architect II                                           6.0
Data Scientist/Analytics , Intermediate                     6.0
Data Scientist/Analytics, Senior Specialist                 6.0
Database/Warehouse Programmer                               6.0
Entry Accountant                                            6.0
Entry Financial Analyst                                     6.0
Entry HR Generalist                                         6.0
Financial Accountant I                                      6.0
Graphic Designer II                                         6.0
HR Assistant II                                             6.0
Healthcare Services Planning Director                       6.0
IT User Support - Manager                                   6.0
Instructional Designer                                      6.0
Junior Accountant                                           6.0
Life Sciences Research Scientist III                        6.0
Operational Risk Analyst II                                 6.0
Personal Assistant to CEO                                   6.0
Senior Risk Analyst                                         6.0
Warehouse Helper                                            6.0
Warehouse Operations Supervisor                             6.0

                                                                         \
                                                      mean          std
job_designation
Asset and Liability Risk Analyst              62703.000000  2327.578484
Data Architect II                             55119.000000  2046.333013
Data Scientist/Analytics , Intermediate       43563.000000  1617.175563
Data Scientist/Analytics, Senior Specialist  103483.333333  3841.660561
Database/Warehouse Programmer                 55667.000000  2066.381378
Entry Accountant                              39401.500000  1462.914591
Entry Financial Analyst                       45984.333333  1707.104176
Entry HR Generalist                           48214.000000  1790.021564
Financial Accountant I                        39505.666667  1466.674970
Graphic Designer II                           58804.000000  2182.962208
HR Assistant II                               43654.833333  1620.590808
Healthcare Services Planning Director        128788.166667  4780.738161
IT User Support - Manager                     78474.333333  2913.353989
Instructional Designer                        54930.500000  2039.178536
Junior Accountant                             39454.333333  1464.618130
Life Sciences Research Scientist III          72496.833333  2691.269620
Operational Risk Analyst II                   58043.666667  2154.837968
Personal Assistant to CEO                     71148.166667  2640.941758
Senior Risk Analyst                           84603.333333  3140.677294
Warehouse Helper                              37632.000000  1396.929490
Warehouse Operations Supervisor               65696.500000  2438.920396

                                                                            \
                                                  min        25%       50%
job_designation
Asset and Liability Risk Analyst              60160.0   61459.25   62227.5
Data Architect II                             52883.0   54025.75   54701.0
Data Scientist/Analytics , Intermediate       41796.0   42699.00   43232.5
Data Scientist/Analytics, Senior Specialist   99286.0  101430.75  102698.5
Database/Warehouse Programmer                 53409.0   54563.00   55245.0
Entry Accountant                              37803.0   38620.00   39102.5
Entry Financial Analyst                       44119.0   45072.25   45635.5
Entry HR Generalist                           46258.0   47257.75   47848.5
Financial Accountant I                        37903.0   38722.25   39206.0
Graphic Designer II                           56419.0   57637.75   58358.0
HR Assistant II                               41884.0   42789.25   43323.5
Healthcare Services Planning Director        123565.0  126233.75  127811.0
IT User Support - Manager                     75291.0   76918.00   77879.0
Instructional Designer                        52703.0   53841.00   54513.5
Junior Accountant                             37854.0   38672.00   39155.0
Life Sciences Research Scientist III          69556.0   71059.25   71947.0
Operational Risk Analyst II                   55689.0   56892.75   57603.5
Personal Assistant to CEO                     68263.0   69737.00   70608.5
Senior Risk Analyst                           81172.0   82925.25   83961.5
Warehouse Helper                              36106.0   36885.50   37346.5
Warehouse Operations Supervisor               63032.0   64393.50   65198.0


                                                   75%       max
job_designation
Asset and Liability Risk Analyst              63189.25   66890.0
Data Architect II                             55546.50   58800.0
Data Scientist/Analytics , Intermediate       43901.00   46472.0
Data Scientist/Analytics, Senior Specialist  104285.75  110394.0
Database/Warehouse Programmer                 56098.75   59384.0
Entry Accountant                              39707.25   42033.0
Entry Financial Analyst                       46341.25   49055.0
Entry HR Generalist                           48587.75   51434.0
Financial Accountant I                        39812.00   42144.0
Graphic Designer II                           59259.75   62731.0
HR Assistant II                               43993.50   46570.0
Healthcare Services Planning Director        129787.25  137388.0
IT User Support - Manager                     79083.00   83715.0
Instructional Designer                        55356.25   58599.0
Junior Accountant                             39760.25   42089.0
Life Sciences Research Scientist III          73059.00   77338.0
Operational Risk Analyst II                   58493.50   61920.0
Personal Assistant to CEO                     71699.75   75899.0
Senior Risk Analyst                           85259.50   90253.0
Warehouse Helper                              37923.75   40145.0
Warehouse Operations Supervisor               66205.75   70084.0

[21 rows x 24 columns]

In [39]:
#Final salary dataset after cleaning
salary_df

,job_designation,percentile25_salary,median_salary,percentile75_salary,salary_type,currency,salary_duration,location,last_reviewed_datetime,weblink,job_desc,county,country,last_reviewed_date
0,Data Architect II,42167,50115,58800,base,EUR,P1Y,"Dublin, Ireland",2021-03-19T00:00:00Z,https://www.salary.com/research/ie-salary/benc...,Contribute to an architecture roadmap covering...,Dublin,Ireland,2021-03-19
1,Data Architect II,39972,47506,55739,base,EUR,P1Y,"Cork, Ireland",2021-03-19T00:00:00Z,https://www.salary.com/research/ie-salary/benc...,Contribute to an architecture roadmap covering...,Cork,Ireland,2021-03-19
2,Data Architect II,39035,46393,54433,base,EUR,P1Y,"Galway, Ireland",2021-03-19T00:00:00Z,https://www.salary.com/research/ie-salary/benc...,Contribute to an architecture roadmap covering...,Galway,Ireland,2021-03-19
3,Data Architect II,39420,46850,54969,base,EUR,P1Y,"Limerick, Ireland",2021-03-19T00:00:00Z,https://www.salary.com/research/ie-salary/benc...,Contribute to an architecture roadmap covering...,Limerick,Ireland,2021-03-19
4,Data Architect II,38646,45930,53890,base,EUR,P1Y,"Shannon-West, Ireland",2021-03-19T00:00:00Z,https://www.salary.com/research/ie-salary/benc...,Contribute to an architecture roadmap covering...,Shannon-West,Ireland,2021-03-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,Warehouse Helper,22562,29382,38055,base,EUR,P1Y,"Cork, Ireland",2021-03-19T00:00:00Z,https://www.salary.com/research/ie-salary/alte...,When assigned to this particular warehouse dut...,Cork,Ireland,2021-03-19
122,Warehouse Helper,22033,28693,37163,base,EUR,P1Y,"Galway, Ireland",2021-03-19T00:00:00Z,https://www.salary.com/research/ie-salary/alte...,When assigned to this particular warehouse dut...,Galway,Ireland,2021-03-19
123,Warehouse Helper,22251,28976,37530,base,EUR,P1Y,"Limerick, Ireland",2021-03-19T00:00:00Z,https://www.salary.com/research/ie-salary/alte...,When assigned to this particular warehouse dut...,Limerick,Ireland,2021-03-19
124,Warehouse Helper,21814,28407,36793,base,EUR,P1Y,"Shannon-West, Ireland",2021-03-19T00:00:00Z,https://www.salary.com/research/ie-salary/alte...,When assigned to this particular warehouse dut...,Shannon-West,Ireland,2021-03-19
125,Warehouse Helper,21406,27877,36106,base,EUR,P1Y,"Waterford, Ireland",2021-03-19T00:00:00Z,https://www.salary.com/research/ie-salary/alte...,When assigned to this particular warehouse dut...,Waterford,Ireland,2021-03-19

In [55]:
#MongoDB Atlas
import pymongo

In [56]:
client = pymongo.MongoClient("mongodb+srv://jenieabraham:zCtWNFXdXjNOQLFb@cluster0.i6hkwqn.mongodb.net/?retryWrites=true&w=majority")

In [57]:
db = client["salary_database"]
collection=db['salary']

In [ ]:
data=salary_df.to_dict(orient="records")
data

In [59]:
db.salary.insert_many(data)

In [61]:
#Loading data from mongodb to python
salary_mongodb=db.salary
salary_mongodb = pd.DataFrame(list(salary_mongodb.find()))
print(salary_mongodb)

                          _id    job_designation  percentile25_salary  \
0    639a3ecf0333324f19d4e333  Data Architect II                42167
1    639a3ecf0333324f19d4e334  Data Architect II                39972
2    639a3ecf0333324f19d4e335  Data Architect II                39035
3    639a3ecf0333324f19d4e336  Data Architect II                39420
4    639a3ecf0333324f19d4e337  Data Architect II                38646
..                        ...                ...                  ...
121  639a3ecf0333324f19d4e3ac   Warehouse Helper                22562
122  639a3ecf0333324f19d4e3ad   Warehouse Helper                22033
123  639a3ecf0333324f19d4e3ae   Warehouse Helper                22251
124  639a3ecf0333324f19d4e3af   Warehouse Helper                21814
125  639a3ecf0333324f19d4e3b0   Warehouse Helper                21406

     median_salary  percentile75_salary salary_type currency salary_duration  \
0            50115                58800        base      EUR             P1Y
1            47506                55739        base      EUR             P1Y
2            46393                54433        base      EUR             P1Y
3            46850                54969        base      EUR             P1Y
4            45930                53890        base      EUR             P1Y
..             ...                  ...         ...      ...             ...
121          29382                38055        base      EUR             P1Y
122          28693                37163        base      EUR             P1Y
123          28976                37530        base      EUR             P1Y
124          28407                36793        base      EUR             P1Y
125          27877                36106        base      EUR             P1Y

                  location last_reviewed_datetime  \
0          Dublin, Ireland   2021-03-19T00:00:00Z
1            Cork, Ireland   2021-03-19T00:00:00Z
2          Galway, Ireland   2021-03-19T00:00:00Z
3        Limerick, Ireland   2021-03-19T00:00:00Z
4    Shannon-West, Ireland   2021-03-19T00:00:00Z
..                     ...                    ...
121          Cork, Ireland   2021-03-19T00:00:00Z
122        Galway, Ireland   2021-03-19T00:00:00Z
123      Limerick, Ireland   2021-03-19T00:00:00Z
124  Shannon-West, Ireland   2021-03-19T00:00:00Z
125     Waterford, Ireland   2021-03-19T00:00:00Z

                                               weblink  \
0    https://www.salary.com/research/ie-salary/benc...
1    https://www.salary.com/research/ie-salary/benc...
2    https://www.salary.com/research/ie-salary/benc...
3    https://www.salary.com/research/ie-salary/benc...
4    https://www.salary.com/research/ie-salary/benc...
..                                                 ...
121  https://www.salary.com/research/ie-salary/alte...
122  https://www.salary.com/research/ie-salary/alte...
123  https://www.salary.com/research/ie-salary/alte...
124  https://www.salary.com/research/ie-salary/alte...
125  https://www.salary.com/research/ie-salary/alte...

                                              job_desc        county  \
0    Contribute to an architecture roadmap covering...        Dublin
1    Contribute to an architecture roadmap covering...          Cork
2    Contribute to an architecture roadmap covering...        Galway
3    Contribute to an architecture roadmap covering...      Limerick
4    Contribute to an architecture roadmap covering...  Shannon-West
..                                                 ...           ...
121  When assigned to this particular warehouse dut...          Cork
122  When assigned to this particular warehouse dut...        Galway
123  When assigned to this particular warehouse dut...      Limerick
124  When assigned to this particular warehouse dut...  Shannon-West
125  When assigned to this particular warehouse dut...     Waterford

      country last_reviewed_date
0     Ireland         2021-03-19
1     Ireland         2021-03-19
2     Ireland         2021-03-19
3     Ireland         2021-03-19
4     Ireland         2021-03-19
..        ...                ...
121   Ireland         2021-03-19
122   Ireland         2021-03-19
123   Ireland         2021-03-19
124   Ireland         2021-03-19
125   Ireland         2021-03-19

[126 rows x 15 columns]

In [62]:
salary_mongodb.shape
# An adfitional column id has been introduced

(126, 15)